<div class="modal fade" id="paymentDeclineModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Payment decline request</h4>
      </div>
      <%= form_tag payment_decline_request_path, id: "declineForm", method: "post" do %>
        <div class="modal-body">
          <div class="row">
            <%= hidden_field_tag "decline[user_id]", current_user.id %>
            <%= hidden_field_tag "decline[subscription_plan_id]" %>
            <div class="col-md-12">
              <div class="form-group">
                <label>Add Comment</label>
                <%= text_area_tag "decline[comment]", nil, class:"form-control", rows: 2 %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= submit_tag 'submit', class: 'violat-btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#declineForm').formValidation({
      framework: 'bootstrap',
      icon: {
          valid: 'glyphicon glyphicon-ok',
          invalid: 'glyphicon glyphicon-remove',
          validating: 'glyphicon glyphicon-refresh'
      },
      fields: {
        "decline[comment]": {
          validators: {
            notEmpty: {
              message: "Comment is required."
            }
          }
        }
      }
    })
  });
</script>
