<!-- Actual design -->
<div class="pad-block gray-bg">
	<div class="container">
		<div class="pro-frm">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<%= form_tag(subscription_checkout_path, {method: :post,id:"paymentForm"}) do %>
					<input name="plan_id" type="hidden" value="<%= params[:plan_id] %>"></input>
					<%= javascript_include_tag "https://js.stripe.com/v2/" %>
					<script>
						Stripe.setPublishableKey('<%= ENV["STRIPE_PUBLISHABLE_KEY"] %>');
					</script>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Add Card</h3>
						</div>
						<div class="panel-body card-save">
							<div class="form-group">
								<label>Card Number</label>
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon3">
										<span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
									</span>
									<%= text_field_tag :card_number, nil, class: "form-control", "data-stripe" => "number", placeholder: "Card number" %>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label>Expiration (MM / YY)</label>
										<div class="input-group">
											<span class="input-group-addon" id="basic-addon3">
												<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
											</span>
											<%#= text_field_tag :exp_month, "", class: 'form-control', "data-stripe" => "exp-month", placeholder: "Expire month", value: "#{@card.present? ? @card.exp_month : ''}" %>
											<%= select_month nil, {add_month_numbers: true}, {name: :exp_month, id: "exp_month", class: 'form-control', "data-stripe" => "exp-month", placeholder: "Expire month"} %>
											<%#= text_field_tag :exp_year, "", class: 'form-control', "data-stripe" => "exp-year", placeholder: "Expire year", value: "#{@card.present? ? @card.exp_year : ''}" %>
											<%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: :exp_year, id: "exp_year", class: 'form-control', "data-stripe" => "exp-year", placeholder: "Expire year"} %>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label>CVV</label>
										<div class="input-group">
											<span class="input-group-addon" id="basic-addon3">
												<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
											</span>
											<%= text_field_tag :card_verification, nil, class: "form-control", "data-stripe" => "cvv", placeholder: "CVV" %>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<div class="text-center">
								<%= submit_tag 'submit', class: 'violat-btn' %>
							</div>
						</div>
						<span class="payment-errors"></span>
						<input type="hidden" name="token" value=""/>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	// use for card number space
	document.getElementById('card_number').addEventListener('input', function (e) {
		e.target.value = e.target.value.replace(/[^\dA-Z]/g, '').replace(/(.{4})/g, '$1 ').trim();
	});

	$(document).ready(function () {
		var show_error,
			stripeResponseHandler;
		Stripe.setPublishableKey('pk_test_dILiamwMWCctZSFhomiKwv3h');

		$('#paymentForm').formValidation({
			framework: 'bootstrap',
			icon: {
				valid: 'glyphicon glyphicon-ok',
				invalid: 'glyphicon glyphicon-remove',
				validating: 'glyphicon glyphicon-refresh'
			},
			fields: {
				fullName: {
					validators: {
						notEmpty: {
							message: 'The full name is required'
						}
					}
				},
				ccNumber: {
					selector: '[data-stripe="number"]',
					validators: {
						notEmpty: {
							message: 'The credit card number is required'
						},
						creditCard: {
							message: 'The credit card number is not valid'
						}
					}
				},
				expMonth: {
					selector: '[data-stripe="exp-month"]',
					validators: {
						notEmpty: {
							message: 'The expiration month is required'
						},
						digits: {
							message: 'The expiration month can contain digits only'
						},
						callback: {
							message: 'Expiration month and year should future date',
							callback: function (value, validator) {
								value = parseInt(value, 10);
								var year = validator.getFieldElements('expYear').val(),
									currentMonth = new Date().getMonth() + 1,
									currentYear = new Date().getFullYear();
								if (value < 0 || value > 12) {
									return false;
								}
								if (year == '') {
									return true;
								}
								year = parseInt(year, 10);
								if (year > currentYear || (year == currentYear && value >= currentMonth)) {
									validator.updateStatus('expYear', 'VALID');
									return true;
								} else {
									return false;
								}
							}
						}
					}
				},
				expYear: {
					selector: '[data-stripe="exp-year"]',
					validators: {
						notEmpty: {
							message: 'The expiration year is required'
						},
						digits: {
							message: 'The expiration year can contain digits only'
						},
						callback: {
							message: 'Expiration month and year should future date',
							callback: function (value, validator) {
								value = parseInt(value, 10);
								var month = validator.getFieldElements('expMonth').val(),
									currentMonth = new Date().getMonth() + 1,
									currentYear = new Date().getFullYear();
								if (value < currentYear || value > currentYear + 100) {
									return false;
								}
								if (month == '') {
									return false;
								}
								month = parseInt(month, 10);
								if (value > currentYear || (value == currentYear && month >= currentMonth)) {
									validator.updateStatus('expMonth', 'VALID');
									return true;
								} else {
									return false;
								}
							}
						}
					}
				},
				cvvNumber: {
					selector: '[data-stripe="cvv"]',
					validators: {
						notEmpty: {
							message: 'The CVV number is required'
						},
						cvv: {
							message: 'The value is not a valid CVV',
							creditCardField: 'ccNumber'
						}
					}
				}
			}
		}).on('success.form.fv', function (e) {
			console.log("paymentForm ....");
			e.preventDefault();
			var $form;
			$form = $("#paymentForm");
			$form.find("input[type=submit]").prop("disabled", true);
			Stripe.card.createToken($form, stripeResponseHandler);
			return false;
		});

		stripeResponseHandler = function (status, response) {
			var $form,
				token;
			$form = $("#paymentForm");
			if (response.error) {
				show_error(response.error.message);
				$form.find("input[type=submit]").prop("disabled", false);
			} else {
				token = response.id;
				$form.append($("<input type=\"hidden\" name=\"stripeToken\" />").val(token));
				$("[data-stripe=number]").remove();
				$("[data-stripe=cvv]").remove();
				$("[data-stripe=exp-year]").remove();
				$("[data-stripe=exp-month]").remove();
				$form.get(0).submit();
			}
			return false;
		};

		show_error = function (message) {
			$("#flash-messages").html('<div class="alert alert-warning"><a class="close" data-dismiss="alert">×</a><div id="flash_alert">' + message + '</div></div>');
			$('.alert').delay(5000).fadeOut(3000);
			return false;
		};
	});
</script>
