<div class="banner gray-bg">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="banner-caption flex-box">
					<div class="inner-cap">
						<h2>Receive file to</h2>
						<h3 id="example4"></h3>
						<div class="page-frm">
							<%= form_for @pages do |f| %>
								<% if @pages.errors.any? %>
								<div >
									<h2><%= pluralize(@pages.errors.count, "error") %>
										prohibited this pages from being saved:</h2>
									<ul>
										<% @pages.errors.full_messages.each do |message| %>
										<li><%= message %></li>
										<% end %>
									</ul>
								</div>
								<% end %></br>
								<p>
									https://cloudtransfr-staging.herokuapp.com/pages/:
									<% if user_signed_in? && ((current_user.google_detail.present? && current_user.onedrive_detail.present? && current_user.dropbox_detail.present?) || ((current_user.google_detail.present? && current_user.onedrive_detail.present?) || (current_user.google_detail.present? && current_user.dropbox_detail.present?) || (current_user.onedrive_detail.present? && current_user.dropbox_detail.present?))) %>
										<div class="form-group">
											<%= f.text_field :name ,class:'form-control' ,placeholder:'Page path', onkeyup: "openPageModal($(this))" %>
										</div>
									<% else %>
										<div class="form-group">
											<%= f.text_field :name ,class:'form-control' ,placeholder:'Page path' %>
										</div>
									<% end %>
									<% if user_signed_in? %>
										<%= f.hidden_field :cloud_storage_type, value: "#{current_user.google_detail.present? ? 'googledrive' : current_user.onedrive_detail.present? ? 'onedrive' : current_user.dropbox_detail.present? ? 'dropbox' : ''}" %>
									<% end %>
									<% if user_signed_in? && (!current_user.google_detail.present? && !current_user.onedrive_detail.present? && !current_user.dropbox_detail.present?) %>
										<%= link_to "Create an upload page",staticpage_index_path, class: "pink-btn" %>
									<% else %>
										<%= f.submit "Create an upload page", class:'pink-btn', id: "pageSubmit" %>
										<button type="button" class="hide pink-btn" id="openModal" data-toggle="modal" data-target="#pageModal">Create an upload page</button>
									<% end %>
								</p>
							<% end %>
						</div>
						<p>Create your own upload page so anyone can send you files</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="banner-img"><%= image_tag("banner-img.png" ,class:"img-responsive")   %></div>
			</div>
		</div>
	</div>
</div>
<div class="gray-bg pad-block">
	<div class="do-img"><%= image_tag("we-do.png" ,class:"img-responsive")   %></div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 right-side">
				<div class="do-block">
					<div class="main-title">
						<h2>What we do</h2>
						<h3>Just make an upload page</h3>
					</div>
					<p>Cloudtransfr lets anyone upload files to your Google Drive, Dropbox, or Microsoft Onedrive using a custom URL. This lets you receive big files from other people without showing them what else is in your cloud.</p>
					<p>Cloudtransfr helps you collect documents, pictures and videos from anyone. You can even receive files your mail provider blocks like exe's.</p>
					<p>Using your Cloudtransfr url, other people can upload files into a folder in your cloud storage account. Handy for teachers who want to collect student assignments, or businesses who want to receive suppliers’ quotes.</p>
					<p>To use Cloudtransfr, just make an upload page and connect your cloud storage account.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="gray-bg price-wrap">
	<div class="container">
		<% if !user_signed_in? %>
			<div class="main-title text-center">
				<h2>Plan and Pricing</h2>
				<h3>Choose the right Cloudtransfr for you</h3>
				<div class="btn-wrap">
					<%= link_to "Try free for 7 days",new_user_registration_path, class: "pink-btn" %>
				</div>
			</div>
		<% end %>
		<div class="plan-box">
			<div class="row">
				<div class="col-sm-4">
					<div class="plan-block srt <%= (user_signed_in? && @current_plan === @plans[0][:plan_id]) ? 'current' : '' %>">
						<h3 class="p-title">Starter</h3>
						<div class="img"><%= image_tag("price-1.png"  ,alt:"Personal")   %></div>
						<div class="p-desc flex-box">
							<ul>
								<!--<li class="bold">Everything in Basic like:</li>-->
								<li>300 MB/file Storage</li>
								<li>30 GB total/month</li>
								<li>1 Inbox Included</li>
								<li>Connect only 1 Cloud Account</li>
								<li>Edit pages included</li>
								<li>Embed on your website</li>
							</ul>
						</div>
						<div class="p-price">
							<h3>
								<span class="dlr">$
								</span>24<span class="time">
									/ year</span>
							</h3>
						</div>
						<div class="p-btn">
							<% if user_signed_in? && @current_plan == @plans[0][:plan_id] %>
								<span class="pink-btn">Your Plan</span>
							<% elsif user_signed_in? && @current_plan != @plans[0][:plan_id] %>
								<% if @current_plan.nil? %>
									<%= link_to addcard_path(@plans[0][:plan_id]) do%>
										<span class="pink-btn">Upgrade</span>
									<% end %>

								<% elsif @decline_request.present? && @decline_request.exists?({subscription_plan_id: @plans[0][:id],is_approved: true}) %>
									<% if current_user.user_subscriptions.present? && current_user.user_subscriptions.last.stripe_customer_id.present? %>
										<%= link_to subscription_checkout_path(plan_id: @plans[0][:plan_id]), method: :post do%>
											<span class="pink-btn">Downgrade</span>
										<% end %>
									<% else %>
										<%= link_to addcard_path(@plans[0][:plan_id]) do%>
											<span class="pink-btn">Downgrade</span>
										<% end %>
									<% end %>
								<% elsif @decline_request.present? && @decline_request.exists?({subscription_plan_id: @plans[0][:id],is_approved: false}) %>
									<span class="pink-btn">Decline request sent</span>
								<% else %>
									<button type="button" class="pink-btn" data-id="<%= @plans[0][:id] %>" onclick="openDeclineModal($(this));">Send decline request</button>
								<% end %>
							<% else %>
								<%= link_to new_user_registration_path(:plan_id => @plans[0][:plan_id]) do %>
									<span class="pink-btn">Sign up now </span>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="plan-block adv <%= (user_signed_in? && @current_plan === @plans[1][:plan_id]) ? 'current' : '' %>">
						<h3 class="p-title">Advanced</h3>
						<div class="img"><%= image_tag("price-2.png"  ,alt:"Team")   %></div>
						<div class="p-desc flex-box">
							<ul>
								<li class="bold">Everything in Starter and:</li>
								<li>2 GB/file</li>
								<li>2000 GB total/month</li>
								<li>10 inboxes</li>
								<li>Connect 2 cloud accounts</li>
								<li>Customise to match your website</li>
								<li>Capture uploaders details in separate subfolders</li>
							</ul>
						</div>
						<div class="p-price">
							<h3>
								<span class="dlr">$
								</span>96<span class="time">
									/ year</span>
							</h3>
						</div>
						<div class="p-btn">
							<% if user_signed_in? && @current_plan.nil? %>
								<%= link_to addcard_path(@plans[0][:plan_id]) do%>
									<span class="pink-btn">Upgrade</span>
								<% end %>
							<% elsif user_signed_in? && @current_plan == @plans[1][:plan_id] %>
								<span class="pink-btn">Your Plan</span>
							<% elsif user_signed_in? && @current_plan == @plans[0][:plan_id] %>
								<% if current_user.user_subscriptions.present? && current_user.user_subscriptions.last.stripe_customer_id.present? %>
									<%= link_to subscription_checkout_path(plan_id: @plans[1][:plan_id]), method: :post do%>
										<span class="pink-btn">Upgrade</span>
									<% end %>
								<% else %>
									<%= link_to addcard_path(@plans[1][:plan_id]) do%>
										<span class="pink-btn">Upgrade</span>
									<% end %>
								<% end %>
							<% elsif user_signed_in? && @current_plan == @plans[2][:plan_id] %>
								<% if @decline_request.present? && @decline_request.exists?({subscription_plan_id: @plans[1][:id],is_approved: true}) %>
									<% if current_user.user_subscriptions.present? && current_user.user_subscriptions.last.stripe_customer_id.present? %>
										<%= link_to subscription_checkout_path(plan_id: @plans[1][:plan_id]), method: :post do%>
											<span class="pink-btn">Downgrade</span>
										<% end %>
									<% else %>
										<%= link_to addcard_path(@plans[1][:plan_id]) do%>
											<span class="pink-btn">Downgrade</span>
										<% end %>
									<% end %>
								<% elsif @decline_request.present? && @decline_request.exists?({subscription_plan_id: @plans[1][:id],is_approved: false}) %>
									<span class="pink-btn">Decline request sent</span>
								<% else %>
									<button type="button" class="pink-btn" data-id="<%= @plans[1][:id] %>" onclick="openDeclineModal($(this));">Send decline request</button>
								<% end %>
							<% elsif !user_signed_in? %>
								<%= link_to new_user_registration_path(:plan_id => @plans[1][:plan_id]) do %>
									<span class="pink-btn">Sign up now </span>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="plan-block ent <%= (user_signed_in? && @current_plan === @plans[2][:plan_id]) ? 'current' : '' %>">
						<h3 class="p-title">Enterprise</h3>
						<div class="img"><%= image_tag("price-3.png", alt:"Corporate") %></div>
						<div class="p-desc flex-box">
							<ul>
								<li class="bold">Everything in Advanced and:</li>
								<li>5 GB/file</li>
								<li>5000 GB total/month</li>
								<li>Unlimited inboxes</li>
								<li>Connect to unlimited cloud accounts</li>
							</ul>
						</div>
						<div class="p-price">
							<h3>
								<span class="dlr">$
								</span>480<span class="time"> / year</span>
							</h3>
						</div>
						<div class="p-btn">
							<% if user_signed_in? && @current_plan == @plans[2][:plan_id] %>
								<span class="pink-btn">Your Plan</span>
							<% elsif user_signed_in? && @current_plan != @plans[2][:plan_id] %>
								<% if current_user.user_subscriptions.present? && current_user.user_subscriptions.last.stripe_customer_id.present? %>
									<%= link_to subscription_checkout_path(plan_id: @plans[2][:plan_id]), method: :post do%>
										<span class="pink-btn">Upgrade</span>
									<% end %>
								<% else %>
									<%= link_to addcard_path(@plans[2][:plan_id]) do%>
										<span class="pink-btn">Upgrade</span>
									<% end %>
								<% end %>
							<% else %>
								<%= link_to new_user_registration_path(:plan_id => @plans[2][:plan_id]) do %>
									<span class="pink-btn">Sign up now </span>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% if user_signed_in? %>
	<!-- Modal -->
	<%= render partial: "payment_decline_modal" %>
<% end %>

<% if user_signed_in? %>
	<div class="modal fade" id="pageModal" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Select cloud storage type</h4>
	      </div>
	      <%= form_for @pages, id: "modal_new_page" do |f| %>
	        <div class="modal-body">
	          <div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>Page path</label>
									<%= f.text_field :name, class:'form-control', placeholder:'Page path', id:'modal_page_name', readonly: true %>
								</div>
								<div class="form-group new-page">
									<% if current_user.google_detail.present? %>
									<div class="radio">
										<label>
											<%= f.radio_button :cloud_storage_type, "googledrive", checked: true %> Google Drive
										 </label>
									 </div>
									 <% end %>
									 <% if current_user.dropbox_detail.present? %>
									 <div class="radio">
										<label>
											<%= f.radio_button :cloud_storage_type, "dropbox", checked: true %> Drop Box
										 </label>
									 </div>
									 <% end %>
									 <% if current_user.onedrive_detail.present? %>
									 <div class="radio">
										 <label>
											 <%= f.radio_button :cloud_storage_type, "onedrive", checked: true %> One Drive
											</label>
										</div>
										<% end %>
								</div>
							</div>
	          </div>
	        </div>
	        <div class="modal-footer">
	          <%= submit_tag 'submit', class: 'violat-btn' %>
	        </div>
	      <% end %>
	    </div>
	  </div>
	</div>
<% end %>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<script>
	$('#example4').typeIt({speed: 100, autoStart: false, loop: true, loopDelay: 750}).tiType('Google Drive from anyone').tiPause(1000).tiDelete().tiType('Dropbox from anyone').tiPause(1000).tiDelete().tiType('Microsoft OneDrive from anyone').tiPause(1000);

	$(window).scroll(function () {
		if ($(this).scrollTop() > 1) {
			$('header').addClass("sticky");
			$('body').addClass("sticky-b");
		} else {
			$('header').removeClass("sticky");
			$('body').removeClass("sticky-b");
		}
	});

	function openDeclineModal(element) {
    $("#decline_subscription_plan_id").val(element.data('id'));
    $("#paymentDeclineModal").modal('show');
  }

</script>

<% if user_signed_in? %>
	<% if (current_user.google_detail.present? && current_user.onedrive_detail.present? && current_user.dropbox_detail.present?) || ((current_user.google_detail.present? && current_user.onedrive_detail.present?) || (current_user.google_detail.present? && current_user.dropbox_detail.present?) || (current_user.onedrive_detail.present? && current_user.dropbox_detail.present?)) %>
		<script>
			// $("#new_page").submit(function() {
			// 	/* Do Something */
			// 	console.log("new_page........");
			// 	var page_name = $("#page_name").val();
			// 	if(page_name  != ""){
			// 		// $("#openModal").click();
			// 		$("#pageSubmit").addClass("hide");
			// 		$("#openModal").removeClass("hide");
			// 		$("#modal_page_name").val(page_name);
			// 		console.log("page name present........",page_name);
			// 	}
			// 	return false;
			// });
			function openPageModal(element) {
				var isValidForm = $('#new_page').data('formValidation').isValid();
				var page_name = $("#page_name").val();
				if(isValidForm == true){
					// $("#modal_page_name").val(element.val());
					$("#modal_page_name").val(page_name);
					$("#pageSubmit").addClass("hide");
					$("#openModal").removeClass("hide");
				}
				else {
					$("#pageSubmit").removeClass("hide");
					$("#openModal").addClass("hide");
				}
			}
			$(document).ready(function () {
				 $('#modal_new_page').formValidation({
					 framework: 'bootstrap',
					 icon: {
						 valid: 'glyphicon glyphicon-ok',
						 invalid: 'glyphicon glyphicon-remove',
						 validating: 'glyphicon glyphicon-refresh'
					 },
					 fields: {
						 'page[name]': {
							 validators: {
								 notEmpty: {
									 message: 'The page name is required'
								 },
								 remote: {
									 message: 'This page name is already exist',
									 url: '/pages/page_exist',
									 type: 'POST'
								 }
							 }
						 },
						 'page[cloud_storage_type]': {
							 validators: {
								 notEmpty: {
									 message: 'Select one cloud storage type'
								 }
							 }
						 }

					 }
				 })
			 });
		</script>

	<% end %>
	<script>
	  $(document).ready(function () {
	    $('#new_page').formValidation({
	      framework: 'bootstrap',
	      icon: {
	        valid: 'glyphicon glyphicon-ok',
	        invalid: 'glyphicon glyphicon-remove',
	        validating: 'glyphicon glyphicon-refresh'
	      },
	      fields: {
	        'page[name]': {
	          validators: {
	            notEmpty: {
	              message: 'The page name is required'
	            },
	            remote: {
	              message: 'This page name is already exist',
	              url: '/pages/page_exist',
	              type: 'POST'
	            }
	          }
	        },
					'page[cloud_storage_type]': {
	          validators: {
	            notEmpty: {
	              message: 'Select one cloud storage type'
	            }
	          }
	        }

	      }
	    })
	  });
	</script>
<% end %>
