<div class="pad-block gray-bg first-pad">
	<div class="container">
		<div class="main-title text-center">
			<h2>Privacy Policy</h2>
			<h3>Your privacy is important to us</h3>
		</div>
		<div class="text-wrap">
			<div class="text-img text-center"><%= image_tag("privacy.png"  , class:'img-responsive')   %></div>
			<p>
				<strong>At Cloudtransfr we have a few fundamental principles:</strong>
			</p>
			<ol>
				<li>We don't ask you for personal information unless we need it.</li>
				<li>We don't share your personal information with anyone. Except where we must share to comply with the law, develop our website, or protect our rights.</li>
				<li>We don't store personal information on our servers unless required for the on-going operation of our website.</li>
			</ol>
			<p>If you have questions about deleting or correcting your personal data please contact our support team. Cloudtransfr's policy to respect the privacy of your information that we may collect.</p>
			<h3>Website Visitors</h3>
			<p>Cloudtransfr collects non-personally-identifying information from your web browser. We use Google Analytics to collect visitor browser type, language preference, referring site, and the date and time of your visit. We collect non-identifying
				information to better understand how visitors use our website. From time to time, Cloudtransfr may release aggregated non-personally-identifying information, e.g., by publishing a trend report website usage.</p>
			<h3>Gathering of Personally-Identifying Information</h3>
			<p>The amount and type of personally-identifying information that Cloudtransfr gathers depends on the nature of your interaction with our website. For example, we ask visitors who sign up for Cloudtransfr account, to provide a username and email
				address, and to connect to their cloud storage account. If you purchase a subscription from Cloudtransfr you will be asked to provide the information needed to process your purchase.</p>
			<p>Cloudtransfr does not disclose personally-identifying information other than as described below. Visitors can always refuse to supply personally-identifying information, but this may prevent them from engaging in certain website-related activities.</p>
			<h3>Kansoly does not store Your credit card details</h3>
			<p>If you pay for a Cloudtransfr subscription by credit card, we do not store your credit card details and our staff cannot access them. Your credit card details are encrypted and securely stored by Stripe Payments Australia to enable us to
				automatically bill your credit card on a recurring basis. You should review Stripe Payments Australia’s Privacy Policy to ensure you are happy with it.</p>
			<h3>How we store and protect your data</h3>
			<p>We use Heroku to host Cloudtransfr. Heroku's Privacy Policy is available on their website. To provide Cloudtransfr we may transfer personal information, to a country that does not have the same data protection laws as your own. By using
				Cloudtransfr you consent to us using staff that may live outside of your own country.
			</p>
			<h3>Cloudtransfr takes steps to protect your personal information</h3>
			<p>Cloudtransfr is committed to protecting the security of your personal information. We take all reasonable precautions to protect it from unauthorised access, modification, or disclosure. Your personal information is stored on secure servers that
				have SSL Certificates. All data transferred between you and the Cloudtransfr website is encrypted. You can find out more about on our security page. But, the internet is not itself a secure environment. We cannot give an absolute assurance that your
				information will always be secure. Transmission of personal information over the internet is at your own risk and you should use our website within a secure environment. If we discover a security breach, we will tell you as soon as possible.</p>
			<h3>Cookies</h3>
			<p>A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. Cloudtransfr uses cookies to help Cloudtransfr identify and track visitors,
				their usage of Cloudtransfr website, and their website access preferences. Cloudtransfr visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using Cloudtransfr’s websites, with the
				drawback that certain features of Cloudtransfr’s websites may not function properly without the aid of cookies.</p>
			<h3>Business Transfers</h3>
			<p>If Cloudtransfr, or substantially all its assets, were acquired, or in the unlikely event that Cloudtransfr goes out of business or enters bankruptcy, user information would be one of the assets that is transferred or acquired by a third party.
				You acknowledge that such transfers may occur, and that any acquirer of Cloudtransfr may continue to use your personal information as set forth in this policy.</p>
			<h3>Ads</h3>
			<p>Ads appearing on any of our websites may be delivered to users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile information about
				you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This Privacy Policy covers the use of cookies by Cloudtransfr and does
				not cover the use of cookies by any advertisers.</p>
			<h3>Privacy Policy Changes</h3>
			<p>Although most changes are likely to be minor, Cloudtransfr may change its Privacy Policy from time to time, and in Cloudtransfr’s sole discretion. Cloudtransfr encourages visitors to frequently check this page for any changes to its Privacy
				Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>
		</div>
	</div>
</div>
