<div class="gray-bg first-pad switch-plan">
  <div class="container">
    <div class="main-title text-center">
      <h2>Plan and Pricing</h2>
      <h3>You may switch Cloudtransfr Plan</h3>
    </div>
    <div class="plan-box">
      <div class="row">
        <div class="col-sm-4">
          <div class="plan-block srt <%= (user_signed_in? && @current_plan === @plans[0][:plan_id]) ? 'current' : '' %>">
            <h3 class="p-title"><%= @plans[0][:name] %></h3>
            <div class="img"><%= image_tag("price-1.png"  ,alt:'Personal')   %></div>
            <div class="p-desc flex-box">
              <ul>
                <!--<li class="bold">Everything in Basic like:</li>-->
                <li>300 MB/file Storage</li>
                <li>30 GB total/month</li>
                <li>1 Inbox Included</li>
                <li>Connect only 1 Cloud Account</li>
                <li>Edit pages included</li>
                <li>Embed on your website</li>
              </ul>
            </div>
            <div class="p-price">
              <h3>
                <span class="dlr">$
                </span><%= @plans[0][:amount] %>
                <span class="time">
                  / year</span>
              </h3>
            </div>
            <div class="p-btn">
              <% if (user_signed_in? && @current_plan == @plans[0][:plan_id]) %>
                <span class="pink-btn">Your Plan</span>
              <% else %>
                <% if @current_plan.nil? %>
                  <%= link_to addcard_path(@plans[0][:plan_id]) do%>
                    <span class="pink-btn">Upgrade</span>
                  <% end %>
                <% elsif @decline_request.present? && @decline_request.exists?({subscription_plan_id: @plans[0][:id],is_approved: true}) %>
                  <% if current_user.user_subscriptions.present? && current_user.user_subscriptions.last.stripe_customer_id.present? %>
                    <%= link_to subscription_checkout_path(plan_id: @plans[0][:plan_id]), method: :post do%>
                      <span class="pink-btn">Downgrade</span>
                    <% end %>
                  <% else %>
                    <%= link_to addcard_path(@plans[0][:plan_id]) do%>
                      <span class="pink-btn">Downgrade</span>
                    <% end %>
                  <% end %>
                <% elsif @decline_request.present? && @decline_request.exists?({subscription_plan_id: @plans[0][:id],is_approved: false}) %>
                  <span class="pink-btn">Decline request sent</span>
                <% else %>
                  <button type="button" class="pink-btn" data-id="<%= @plans[0][:id] %>" onclick="openDeclineModal($(this));">Send decline request</button>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="plan-block adv <%= (user_signed_in? && @current_plan === @plans[1][:plan_id]) ? 'current' : '' %>">
            <h3 class="p-title"><%= @plans[1][:name] %></h3>
            <div class="img"><%= image_tag("price-2.png"  ,alt:'team')   %></div>
            <div class="p-desc flex-box">
              <ul>
                <li class="bold">Everything in Starter and:</li>
                <li>2 GB/file</li>
                <li>2000 GB total/month</li>
                <li>10 inboxes</li>
                <li>Connect 2 cloud accounts</li>
                <li>Customise to match your website</li>
                <li>Capture uploaders details in separate subfolders</li>
              </ul>
            </div>
            <div class="p-price">
              <h3>
                <span class="dlr">$
                </span><%= @plans[1][:amount] %>
                <span class="time">
                  / year</span>
              </h3>
            </div>
            <div class="p-btn">
              <% if user_signed_in? && @current_plan.nil? %>
								<%= link_to addcard_path(@plans[1][:plan_id]) do%>
									<span class="pink-btn">Upgrade</span>
								<% end %>
              <% elsif (user_signed_in? && @current_plan == @plans[1][:plan_id]) %>
                <span class="pink-btn">Your Plan</span>
              <% elsif (user_signed_in? && @current_plan == @plans[0][:plan_id]) %>
                <% if current_user.user_subscriptions.present? && current_user.user_subscriptions.last.stripe_customer_id.present? %>
                  <%= link_to subscription_checkout_path(plan_id: @plans[1][:plan_id]), method: :post do%>
                    <span class="pink-btn">Upgrade</span>
                  <% end %>
                <% else %>
                  <%= link_to addcard_path(@plans[1][:plan_id]) do%>
                    <span class="pink-btn">Upgrade</span>
                  <% end %>
                <% end %>
              <% else %>
                <% if @decline_request.present? && @decline_request.exists?({subscription_plan_id: @plans[1][:id],is_approved: true}) %>
                  <% if current_user.user_subscriptions.present? && current_user.user_subscriptions.last.stripe_customer_id.present? %>
                    <%= link_to subscription_checkout_path(plan_id: @plans[1][:plan_id]), method: :post do%>
                      <span class="pink-btn">Downgrade</span>
                    <% end %>
                  <% else %>
                    <%= link_to addcard_path(@plans[1][:plan_id]) do%>
                      <span class="pink-btn">Downgrade</span>
                    <% end %>
                  <% end %>
                <% elsif @decline_request.present? && @decline_request.exists?({subscription_plan_id: @plans[1][:id],is_approved: false}) %>
                  <span class="pink-btn">Decline request sent</span>
                <% else %>
                  <button type="button" class="pink-btn" data-id="<%= @plans[1][:id] %>" onclick="openDeclineModal($(this));">Send decline request</button>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="plan-block ent <%= (user_signed_in? && @current_plan === @plans[2][:plan_id]) ? 'current' : '' %>">
            <h3 class="p-title"><%= @plans[2][:name] %></h3>
            <div class="img"><%= image_tag("price-3.png"  ,alt:'Corporate')   %></div>
            <div class="p-desc flex-box">
              <ul>
                <li class="bold">Everything in Advanced and:</li>
                <li>5 GB/file</li>
                <li>5000 GB total/month</li>
                <li>Unlimited inboxes</li>
                <li>Connect to unlimited cloud accounts</li>
              </ul>
            </div>
            <div class="p-price">
              <h3>
                <span class="dlr">$
                </span><%= @plans[2][:amount] %>
                <span class="time">
                  / year</span>
              </h3>
            </div>

            <div class="p-btn">
              <% if (user_signed_in? && @current_plan == @plans[2][:plan_id]) %>
                <span class="pink-btn">Your Plan</span>
              <% else %>
                <% if current_user.user_subscriptions.present? && current_user.user_subscriptions.last.stripe_customer_id.present? %>
                  <%= link_to subscription_checkout_path(plan_id: @plans[2][:plan_id]), method: :post do%>
                    <span class="pink-btn">Upgrade</span>
                  <% end %>
                <% else %>
                  <%= link_to addcard_path(@plans[2][:plan_id]) do%>
                    <span class="pink-btn">Upgrade</span>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <%= render partial: "payment_decline_modal" %>

  </div>
</div>

<script type="text/javascript">
  function openDeclineModal(element) {
    $("#decline_subscription_plan_id").val(element.data('id'));
    $("#paymentDeclineModal").modal('show');
  }
</script>
