<div class="pad-block gray-bg first-pad">
	<div class="container">
    	<div class="main-title">
            <h2>Profile</h2>
        </div>
        <div class="pro-frm">
	    	<div class="row">
        		<div class="col-md-8 col-sm-7">
                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                  <div class="panel panel-default">
                    <% resource.errors.each do |key, value| %>
                    <div class="alert alert-danger">
                      <button type="button" class="close" data-dismiss="alert">x</button>
                      <h6><%= key %> &nbsp;<%= value %></h6>
                    </div>
                    <% end %>
                    <div class="panel-heading">
                      <h3 class="panel-title">Personal Info</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                          <label>Email address</label>
                          <%= f.email_field :email, autofocus: true ,class:"form-control" ,placeholder:"Email" %>
                        </div>
                    </div>
                    <div class="panel-heading">
                      <h3 class="panel-title">Change Password</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                  <label>Current Password</label><i>(we need your current password)</i>
																	<%= f.password_field :current_password, autocomplete: "off" ,class:"form-control", placeholder:"Current Password"%>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                  <label>New Password</label>
                                    <%= f.password_field :password, autocomplete: "off" ,class:"form-control", placeholder:"New Password"%>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                    	<div class="text-center">
                        <button type="submit" class="violat-btn">Update</button>
                        </div>
                    </div>
                  </div>
                  <% end %>
                </div>

                <div class="col-md-4 col-sm-5">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Your Credit Card</h3>
                    </div>
                    <div class="panel-body">
											<%= link_to "Add Credit Card", switch_plan_path, class: "pink-btn" %>
                        <!-- <button type="button" class="pink-btn">Add Credit Card</button> -->
                    </div>
                    <div class="panel-footer">Enter your credit card information to switch to a paid Cloudtransfr plan.</div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Want to remove Account?</h3>
                    </div>
                    <div class="panel-body">
                       <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete ,class:"red-btn" %>
                    </div>
                  </div>
                </div>
            </div>
        </div>
  	</div>
</div>
