<div class="pad-block gray-bg log-wrap">
	<div class="container">
    	<div class="sign-wrap">
        	<div class="side-block"><div class="img"><%= image_tag("sign-img.png" )   %></div></div>
            <div class="sign-block">
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#signup" aria-controls="signup" role="tab" data-toggle="tab">Sign up</a></li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="signup">
                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

	                  <% resource.errors.each do |key, value| %>
		                  <div class="alert alert-error alert-block">
		                    <button type="button" class="close" data-dismiss="alert">x</button>
		                    <h6><%= key %> &nbsp;<%= value %></h6>
		                  </div>
	                  <% end %>
										<% if params[:plan_id].present? %>
											<input name="plan_id" type="hidden" value="<%= params[:plan_id] %>"></input>
										<% end %>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Choose the URL name that you send to anyone</label>
                      <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">http://cloudtransfr.com/</span>
                        <%= f.text_field :pagename, autofocus: true , class:'form-control' , placeholder:'PageName' %>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <%= f.email_field :email, autofocus: true , class:'form-control' , placeholder:'Email' %>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br />
                      <%= f.password_field :password, autocomplete: "off"  , class:'form-control' , placeholder:'Password'%>
                    </div>

                    <div class="text-center">
                    	<button type="submit" class="violat-btn">Sign up</button>
                    </div>
                    <hr>
                    <p class="text-center"> Already have an account? <%= link_to 'Log In'  ,user_session_path %>.</p>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
  	</div>
</div>

<script>
$(document).ready(function() {
	$('#new_user').formValidation({
			framework: 'bootstrap',
			icon: {
					valid: 'glyphicon glyphicon-ok',
					invalid: 'glyphicon glyphicon-remove',
					validating: 'glyphicon glyphicon-refresh'
			},
			fields: {
					'user[pagename]': {
							validators: {
									notEmpty: {
											message: 'The page name is required'
									},
									remote: {
                      message: 'This page name is already exist',
                      url: '/check_page',
                      type: 'POST'
                  }
							}
					},
					'user[email]': {
							validators: {
									notEmpty: {
											message: 'The email is required'
									},
									remote: {
                      message: 'Email is already exist',
                      url: '/check_email',
                      type: 'POST'
                  }
							}
					},
					'user[password]': {
							validators: {
									notEmpty: {
											message: 'The password is required'
									},
                  stringLength: {
                      message: '6 characters minimum',
                      min: function (value, validator, $field) {
                          return 6 + (value.match(/\r/g) || []).length;
                      }
                  }
							}
					},
					'user[password_confirmation]': {
							validators: {
									notEmpty: {
											message: 'The confirm password is required'
									},
									identical: {
                      field: 'user[password]',
                      message: 'The password and its confirm are not the same'
                  },
                  stringLength: {
                      message: '6 characters minimum',
                      min: function (value, validator, $field) {
                          return 6 + (value.match(/\r/g) || []).length;
                      }
                  }
							}
					}
			}
		})
	});
</script>
