<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Pages </h1>
</section>

<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Manage user pages </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="pages" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Name</th>
                <th>Cloud storage type</th>
                <th>Email frequency</th>
                <th>Create at</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @pages.each do |page| %>
                <tr>
                  <td>
                    <%= link_to page.name,admins_documents_path(page) %>
                  </td>
                  <td><%= page.cloud_storage_type %></td>
                  <td>
                    <%= page.email_frequency ? 'Send email as files are uploaded' : 'Never send mail' %></td>
                  <td><%= page.created_at.in_time_zone("Chennai").strftime("%d %B %Y") %></td>
                  <td class="action">
                    <%= link_to admins_page_delete_path(page.id), method: :delete,data: { confirm: "Are you sure you want to delete this page?" } do %>
  										<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
  									<% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>


<script>
  var pages_table;
  pages_table = null;

  document.addEventListener("turbolinks:load", function() {
    return pages_table = $('#pages').DataTable({
      retrieve: true,
      columnDefs: [
         { orderable: false, targets: -1 }
      ]
    });
  });

  document.addEventListener("turbolinks:before-cache", function() {
    if ($('#pages_wrapper').length === 1) {
      return pages_table.destroy();
    }
  });
</script>
