<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Edit <small><%= resource_name.to_s.humanize %></small></h1>
</section>

<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group has-feedback">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control", placeholder: "Email", autofocus: true %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group has-feedback">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
          <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
          <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "off" %>
        </div>

        <div class="form-group has-feedback">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Retype Password", autocomplete: "off" %>
        </div>

        <div class="form-group has-feedback">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, class: "form-control", placeholder: "Current Password", autocomplete: "off" %>
        </div>

        <div class="row">
          <div class="col-xs-8">
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <%= f.submit "Update",class: "btn btn-primary btn-block btn-flat" %>
          </div>
          <!-- /.col -->
        </div>
      <% end %>

    </div>
    <!-- ./col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->


<script>
  $(document).ready(function() {
  	$('#edit_admin').formValidation({
			framework: 'bootstrap',
			icon: {
				valid: 'glyphicon glyphicon-ok',
				invalid: 'glyphicon glyphicon-remove',
				validating: 'glyphicon glyphicon-refresh'
			},
			fields: {
				'admin[email]': {
					validators: {
						notEmpty: {
							message: 'The email is required'
						}
					}
				},
				'admin[password]': {
					validators: {
						notEmpty: {
							message: 'The password is required'
						},
            stringLength: {
              message: '6 characters minimum',
              min: function (value, validator, $field) {
                return 6 + (value.match(/\r/g) || []).length;
              }
            }
					}
				},
				'admin[password_confirmation]': {
					validators: {
						notEmpty: {
							message: 'The confirm password is required'
						},
						identical: {
              field: 'admin[password]',
              message: 'The password and its confirm are not the same'
            },
            stringLength: {
              message: '6 characters minimum',
              min: function (value, validator, $field) {
                return 6 + (value.match(/\r/g) || []).length;
              }
            }
					}
				},
				'admin[current_password]': {
					validators: {
						notEmpty: {
							message: 'The current password is required'
						},
            stringLength: {
              message: '6 characters minimum',
              min: function (value, validator, $field) {
                return 6 + (value.match(/\r/g) || []).length;
              }
            }
					}
				}
			}
		})
	});
</script>
