<div class="register-box-body">
  <p class="login-box-msg">Register a new admin</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group has-feedback">
      <%= f.email_field :email, class: "form-control", placeholder: "Email", autofocus: true %>
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Retype password" %>
      <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <%= render "admins/shared/links" %>
      </div>
      <!-- /.col -->
      <div class="col-xs-4">
        <%= f.submit "Register",class: "btn btn-primary btn-block btn-flat" %>
      </div>
      <!-- /.col -->
    </div>
  <% end %>
</div>
<!-- /.form-box -->
