<html>
	<body>
		<div class="pad-block gray-bg auth-wrap">
			<div class="container">
				<div class="main-title text-center">
					<h2>Authenticate</h2>
					<h3>Connect your cloud account</h3>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div class="cloud-box <%= current_user.google_detail.present? ? 'auth-done' : ''  %>">
							<div class="cloud-icn"><%= image_tag "google-drive.png"%>
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							</div>
							<h3>Google Drive</h3>
							<% if !current_user.google_detail.present? %>
								<%= g_drive_url(current_user,@googledrive_url,@free_user,@authenticate_account,@count,@allow_authenticate) %>
							<% end %>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="cloud-box <%= current_user.dropbox_detail.present? ? 'auth-done' : ''  %>">
							<div class="cloud-icn"><%= image_tag "dropbox.png"%>
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							</div>
							<h3>Dropbox</h3>
							<% if !current_user.dropbox_detail.present? %>
								<%= drop_box_url(current_user,@dropbox_url,@free_user,@authenticate_account,@count,@allow_authenticate) %>
							<% end %>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="cloud-box <%= current_user.onedrive_detail.present? ? 'auth-done' : ''  %>">
							<div class="cloud-icn"><%= image_tag "one-drive.png"%>
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							</div>
							<h3>One Drive</h3>
							<% if !current_user.onedrive_detail.present? %>
								<%= one_drive_url(current_user,@onedrive_url,@free_user,@authenticate_account,@count,@allow_authenticate) %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script>
			$(window).scroll(function () {
				if ($(this).scrollTop() > 1) {
					$('header').addClass("sticky");
					$('body').addClass("sticky-b");
				} else {
					$('header').removeClass("sticky");
					$('body').removeClass("sticky-b");
				}
			});
		</script>
	</body>
</html>
