<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Documents </h1>
</section>

<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Manage <%= @page.cloud_storage_type %> files/documents </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="documents" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Uploaded file name</th>
                <th>Create at</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @paths.each do |path| %>
                <tr>
                  <td>
                    <% if path.uploaded_filename.present? %>
      								<%= path.uploaded_filename %>
      							<% else %>
      								<%= path.path %>
      							<% end %>
                  </td>
                  <td><%= path.created_at.in_time_zone("Chennai").strftime("%d %B %Y") %></td>
                  <td class="action">
                    <% if @page.cloud_storage_type == 'dropbox' %>
      								<%= link_to dropbox_download_path(path.page.name, path: path.id) do %>
      									<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
      								<% end%>
      							<% elsif @page.cloud_storage_type == 'googledrive' %>
      								<%= link_to googledrive_download_path(path.page.name, path: path.id) do %>
      									<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
      								<% end%>
      							<% elsif @page.cloud_storage_type == 'onedrive' %>
      								<%= link_to onedrive_download_path(path.page.name, path: path.id) do %>
      									<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
      								<% end%>
      							<% end %>

                    <% if @page.cloud_storage_type == 'dropbox' %>
        							<%= link_to remove_from_dropbox_path(path.page.name, path: path.id), method: :delete,data: { confirm: "Are you sure you want to delete this file?" } do %>
        								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        							<% end%>
        						<% elsif @page.cloud_storage_type == 'onedrive' %>
        							<%= link_to remove_from_onedrive_path(path.page.name, path: path.id), method: :delete,data: { confirm: "Are you sure you want to delete this file?" } do %>
        								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        							<% end%>
        						<% elsif @page.cloud_storage_type == 'googledrive' %>
        							<%= link_to remove_from_googledrive_path(path.page.name, path: path.id), method: :delete,data: { confirm: "Are you sure you want to delete this file?" } do %>
        								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        							<% end%>
        						<% end%>

                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>


<script>
  var documents_table;
  documents_table = null;

  document.addEventListener("turbolinks:load", function() {
    return documents_table = $('#documents').DataTable({
      retrieve: true,
      columnDefs: [
         { orderable: false, targets: -1 }
      ]
    });
  });

  document.addEventListener("turbolinks:before-cache", function() {
    if ($('#documents_wrapper').length === 1) {
      return documents_table.destroy();
    }
  });
</script>
