<%= form_tag update_user_path(@user), method: "put" do %>
  <label>Email:</label><br>
  <%= text_field_tag :email, @user.email %><br>

  <%= submit_tag "Update" %>
<% end %>
<%= link_to "Back", root_path %>