<div class="pad-block gray-bg">
	<div class="container">
    <div class="pro-frm">
    	<div class="row">
    		<div class="col-sm-6 col-sm-offset-3">
					<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Change your password</h3>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <%= f.label :password, "New password" %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                <% end %>
								<%= f.password_field :password, autofocus: true, autocomplete: "off", class:'form-control', placeholder:"New password" %>
              </div>
              <div class="form-group">
                <%= f.label :password_confirmation, "Confirm new password" %>
                <%= f.password_field :password_confirmation, autocomplete: "off", class:'form-control', placeholder:"Confirm new password" %>
              </div>
            </div>
            <div class="panel-footer">
            	<div class="text-center">
								<%= f.submit "Change my password" ,class:'violat-btn' %>
              </div>
            </div>
          </div>
					<% end %>
        </div>
      </div>
    </div>
	</div>
</div>

<script>
	$(window).scroll(function() {
		if ($(this).scrollTop() > 1){
			$('header').addClass("sticky");
			$('body').addClass("sticky-b");
		}
		else{
			$('header').removeClass("sticky");
			$('body').removeClass("sticky-b");
		}
	});

	$(document).ready(function() {
		$('#new_user').formValidation({
				framework: 'bootstrap',
				icon: {
						valid: 'glyphicon glyphicon-ok',
						invalid: 'glyphicon glyphicon-remove',
						validating: 'glyphicon glyphicon-refresh'
				},
				fields: {
          'user[password]': {
            validators: {
              notEmpty: {
                message: 'The password is required'
              },
              stringLength: {
                message: '6 characters minimum',
                min: function (value, validator, $field) {
                  return 6 + (value.match(/\r/g) || []).length;
                }
              }
            }
          },
          'user[password_confirmation]': {
            validators: {
              notEmpty: {
                message: 'The confirm password is required'
              },
              identical: {
                field: 'user[password]',
                message: 'The password and its confirm are not the same'
              },
              stringLength: {
                message: '6 characters minimum',
                min: function (value, validator, $field) {
                  return 6 + (value.match(/\r/g) || []).length;
                }
              }
            }
          }
				}
			})
		});
</script>
