<div class="pad-block gray-bg">
	<div class="container">
        <div class="pro-frm">
	    	<div class="row">
        		<div class="col-sm-6 col-sm-offset-3">
								<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                  <div class="panel panel-default">

                    <div class="panel-heading">
                      <h3 class="panel-title">Forgot Password ?</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                          <label>Email address</label>
													<%= f.email_field :email, autofocus: true , class:'form-control' , placeholder:"Email" %>
                        </div>
                    </div>
                    <div class="panel-footer">
                    	<div class="text-center">
												<%= f.submit "Send me reset password instructions" ,class:'violat-btn' %>
                        </div>
                    </div>
                  </div>
									<% end %>
                </div>
            </div>
        </div>
  	</div>
</div>

<script>
	$(window).scroll(function() {
		if ($(this).scrollTop() > 1){
			$('header').addClass("sticky");
			$('body').addClass("sticky-b");
		}
		else{
			$('header').removeClass("sticky");
			$('body').removeClass("sticky-b");
		}
	});

	$(document).ready(function() {
		$('#new_user').formValidation({
				framework: 'bootstrap',
				icon: {
						valid: 'glyphicon glyphicon-ok',
						invalid: 'glyphicon glyphicon-remove',
						validating: 'glyphicon glyphicon-refresh'
				},
				fields: {
						'user[email]': {
								validators: {
										notEmpty: {
												message: 'The email is required'
										},
										remote: {
	                      message: 'Email is not exist',
	                      url: '/is_email_exist',
	                      type: 'POST'
	                  }
								}
						}
				}
			})
		});
</script>
