<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Users </h1>
</section>

<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Manage user's payment decline request </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="users" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
            <tr>
              <th>Email</th>
              <th>Plan</th>
              <th>Comment</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
              <% @decline_request.each do |d_r| %>
                <tr>
                  <td><%= d_r.user.email %></td>
                  <td>
                    <%= d_r.subscription_plan.name %>
                  </td>
                  <td><%= d_r.comment %></td>
                  <td>
                    <% if d_r.is_approved %>
                      Approved
                    <% else %>
                      <%= link_to "Approve",admins_update_request_status_path(d_r.id), method: :put, data: { confirm: "Are you sure you want to approve this request?" },class: 'btn btn-primary' %>
                    <% end %>
                  </td>
                  <td class="action">
                    <%= link_to admins_decline_request_delete_path(d_r.id), method: :delete, data: { confirm: "Are you sure you want to delete this request?" } do %>
                      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>


<script>
  var users_table;
  users_table = null;

  document.addEventListener("turbolinks:load", function() {
    return users_table = $('#users').DataTable({
      retrieve: true,
      columnDefs: [
         { orderable: false, targets: -1 }
      ]
    });
  });

  document.addEventListener("turbolinks:before-cache", function() {
    if ($('#users_wrapper').length === 1) {
      return users_table.destroy();
    }
  });
</script>
