<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Edit user details </h1>
</section>

<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Change User Personal </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <%= form_for(@user, url: admins_update_user_path(@user), html: { method: :put }) do |f| %>
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="form-group">
                  <label>Email</label>
                  <%= f.email_field :email, class: "form-control", placeholder: "Email", autofocus: true   %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-8">
              </div>
              <!-- /.col -->
              <div class="col-xs-4">
                <%= f.submit "Update",class: "btn btn-primary btn-block btn-flat" %>
              </div>
              <!-- /.col -->
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</section>
