<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Users </h1>
</section>

<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Manage User </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="users" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
            <tr>
              <th>Email</th>
              <th>Number of pages</th>
              <th>Register at</th>
              <th>Last sign in</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><%= user.email %></td>
                  <td>
                    <%= link_to user.pages.size, admins_pages_path(id: user.id) %>
                  </td>
                  <td><%= user.created_at.in_time_zone("Chennai").strftime("%d %B %Y") %></td>
                  <td><%= user.last_sign_in_at.in_time_zone("Chennai").strftime("%d-%m-%Y") %></td>
                  <td class="action">
                    <%= link_to admins_show_user_path(user.id) do %>
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    <% end %>
                    <%#= link_to admins_edit_user_path(user.id) do %>
  										<!-- <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> -->
  									<%# end %>
                    <%= link_to admins_user_delete_path(user.id), method: :delete,data: { confirm: "Are you sure you want to delete this user?" } do %>
                      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>


<script>
  var users_table;
  users_table = null;

  document.addEventListener("turbolinks:load", function() {
    return users_table = $('#users').DataTable({
      retrieve: true,
      columnDefs: [
         { orderable: false, targets: -1 }
      ]
    });
  });

  document.addEventListener("turbolinks:before-cache", function() {
    if ($('#users_wrapper').length === 1) {
      return users_table.destroy();
    }
  });
</script>
