<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>User details </h1>
</section>

<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">User Personal Info </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <label class="mr-10">Email: </label><%= @user.email %>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <label class="mr-10">Number of pages: </label><%= @user.pages.size %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <label class="mr-10">Registered at: </label><%= @user.created_at.in_time_zone("Chennai").strftime("%d %B %Y") %>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <label class="mr-10">Last sign in: </label><%= @user.last_sign_in_at.in_time_zone("Chennai").strftime("%d-%m-%Y") %>
            </div>
          </div>
          <% if @user_sub.present? %>
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <label class="mr-10">Current subscription plan: </label><%= @user_sub.last.subscription_plan.name %>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <label class="mr-10">Amount: </label>$<%=  @user_sub.last.subscription_plan.amount %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <label class="mr-10">Subscription mode: </label><%= @user_sub.last.livemode ? 'Live' : 'Test' %>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <label class="mr-10">Subscription plan expire at: </label><%=  @user_sub.last.subscription_end_priod.in_time_zone("Chennai").strftime("%d-%m-%Y %H:%M") %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">User subscriptions </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="user_payment" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Subscription plan</th>
                <th>Subscription mode</th>
                <th>Subscription start at</th>
                <th>Subscription end at</th>
                <th>Amount</th>
                <th>Stripe subscription id</th>
                <th>Stripe customer id</th>
                <th>Stripe invoice id</th>
              </tr>
            </thead>
            <tbody>
              <% @user_sub.each do |u_s| %>
                <tr>
                  <td><%= u_s.subscription_plan.name %></td>
                  <td><%= u_s.livemode ? 'Live' : 'Test' %></td>
                  <td><%= u_s.subscription_start_priod.in_time_zone("Chennai").strftime("%d-%m-%Y %H:%M") %></td>
                  <td><%= u_s.subscription_end_priod.in_time_zone("Chennai").strftime("%d-%m-%Y %H:%M") %></td>
                  <td>$<%= u_s.subscription_plan.amount %></td>
                  <td><%= u_s.stripe_subscription_id %></td>
                  <td><%= u_s.stripe_customer_id %></td>
                  <td><%= u_s.stripe_invoice_id %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  var user_payment_table;
  user_payment_table = null;

  document.addEventListener("turbolinks:load", function() {
    return user_payment_table = $('#user_payment').DataTable();
  });

  document.addEventListener("turbolinks:before-cache", function() {
    if ($('#user_payment_wrapper').length === 1) {
      return user_payment_table.destroy();
    }
  });
</script>
