<div class="form-group">
  <label for="exampleInputEmail1">Choose the URL name that you send to anyone</label>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon3">http://cloudtransfr.com/</span>
    <%= f.text_field :name,class:"form-control"%>
  </div>
</div>

<% if user_signed_in? %>
  <%= f.hidden_field :cloud_storage_type, value: "#{current_user.google_detail.present? ? 'googledrive' : current_user.onedrive_detail.present? ? 'onedrive' : current_user.dropbox_detail.present? ? 'dropbox' : ''}" %>
<% end %>

<%= f.submit 'Create',class:"violat-btn" %>
