<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h4 class="modal-title">Fill embedded upload form</h4>
      </div>
      <%= form_tag add_question_answer_path, id: "answerForm" do %>
        <div class="modal-body">
          <div class="row">
            <%= hidden_field_tag "page_id", params[:id] %>
            <% ques.each do |q| %>
              <div class="col-md-12">
                <div class="form-group">
                  <label><%= q.question %></label>
                    <% if q.question_type == "Checkbox" %>
                      <%= check_box_tag "question[#{q.id}]" %>
                    <% elsif q.question_type == "Email" %>
                      <%= email_field_tag "question[#{q.id}]", nil, class:"form-control" %>
                    <% elsif q.question_type == "Number" %>
                      <%= number_field_tag "question[#{q.id}]", nil, class:"form-control" %>
                    <% elsif q.question_type == "URL" %>
                      <%= url_field_tag "question[#{q.id}]", nil, class:"form-control" %>
                    <% elsif q.question_type == "Long Text" %>
                      <%= text_area_tag "question[#{q.id}]", nil, class:"form-control", rows: 2 %>
                    <% elsif q.question_type == "Phone Number" %>
                      <%= text_field_tag "question[#{q.id}]", nil, class:"form-control", pattern: "[789][0-9]{9}" %>
                    <% elsif q.question_type == "Date with Time" || q.question_type == "Date" %>
                      <div class="input-group date" id="datetimepicker_<%= q.id %>">
                        <%= text_field_tag "question[#{q.id}]", nil, class:"form-control" %>
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                      </div>
                    <% else %>
                      <%= text_field_tag "question[#{q.id}]", nil, class:"form-control" %>
                    <% end %>
                    <% if q.question_type == "Date" %>
                      <script type="text/javascript">
                        $(function () {
                          $("#datetimepicker_<%= q.id %>").datetimepicker({ format: 'DD/MM/YYYY' });
                        });
                        $("#datetimepicker_<%= q.id %>").on('dp.change', function(e){
                          $('#answerForm').formValidation('revalidateField', "question[<%= q.id %>]");
                        });
                      </script>
                    <% elsif q.question_type == "Date with Time" %>
                      <script type="text/javascript">
                        $(function () {
                          $("#datetimepicker_<%= q.id %>").datetimepicker({ format: 'MM/DD/YYYY h:m A' });
                        });
                        $("#datetimepicker_<%= q.id %>").on('dp.change', function(e){
                          $('#answerForm').formValidation('revalidateField', "question[<%= q.id %>]");
                        });
                      </script>
                    <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="modal-footer">
          <%= submit_tag 'submit', class: 'violat-btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#answerForm').formValidation({
      framework: 'bootstrap',
      icon: {
          valid: 'glyphicon glyphicon-ok',
          invalid: 'glyphicon glyphicon-remove',
          validating: 'glyphicon glyphicon-refresh'
      },
      fields: {
        <% ques.each do |q| %>
          <% if q.is_required == true && q.question_type == "Date" %>
            "question[<%= q.id %>]": {
              validators: {
                notEmpty: {
                  message: "The <%= q.question.downcase! %> is required."
                },
                date: {
                    format: 'DD/MM/YYYY',
                    message: 'The value is not a valid date'
                }
              }
            },
          <% elsif q.is_required == true && q.question_type == "Date with Time" %>
            "question[<%= q.id %>]": {
              validators: {
                notEmpty: {
                  message: "The <%= q.question.downcase! %> is required."
                },
                date: {
                    format: 'MM/DD/YYYY h:m A',
                    message: 'The value is not a valid date'
                }
              }
            },
          <% elsif q.is_required == true  %>
            "question[<%= q.id %>]": {
              validators: {
                notEmpty: {
                  message: "The <%= q.question.downcase! %> is required."
                }
              }
            },
          <% end %>
        <% end %>
      }
    })
  });
</script>
