<div class="uploadingForm">
  <ul id="<%= ques[:id] %>">
    <li>
      <div class="form-group p_question">
        <%= text_field_tag 'page[question]', nil, class: "form-control", value: ques[:question],onkeyup: "removeError($(this),'p_question')" %>
      </div>
    </li>
    <li>
      <div class="form-group select-table">
        <%= select_tag "page[question_type]", options_for_select(@question_type, ques[:question_type]), class: "form-control" %>
      </div>
    </li>
    <li>
      <div class="form-group p_description">
        <%= text_field_tag 'page[description]', nil, class: "form-control", value: ques[:description],onkeyup: "removeError($(this),'p_description')" %>
      </div>
    </li>
    <li>
      <div class="clear-line">
        <div class="checkbox remember">
          <label>
            <%= check_box_tag 'page[is_required]', ques[:is_required], ques[:is_required] %>
            <span></span> Required
          </label>
        </div>
      </div>
    </li>
    <li class="formButton">
      <div class="newForm">
        <div class="btn-group" role="group" >
          <button type="button" class="btn btn-add-setting" id="addNewQuestion" onclick="appendNewQuestionForm($(this));"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        </div>
      </div>
      <div class="removeForm">
        <div class="btn-group" role="group" >
          <button type="button" class="btn btn-danger" id="RemoveQuestion" onclick="removeQuestionForm($(this))"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
        </div>
      </div>
    </li>
  </ul>
</div>
