<div class="pad-block gray-bg first-pad page-list">
	<div class="container">
		<div class="main-title">
			<h2>Pages Settings</h2>
		</div>
		<div class="setting-wrap">
			<%= form_for @page, :url => page_path(@page.id), "data-toggle" => "validator" do |f| %>
			<div class="form-group">
				<label for="exampleInputEmail1">Choose the URL name that you send to anyone</label>
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon3">http://cloudtransfr.com/</span>
					<%= f.text_field :name,class:"form-control", disabled: "disabled" %>
				</div>
			</div>

			<div class="setting-cols">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									<i class="fa fa-cloud-upload"></i>
									Whitelabel
								</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="form-group email_frequency">
									<label>Title</label>
									<%#= text_field_tag 'page[description]', nil%>
									<%= f.text_field :white_label_title, class: "form-control"  %>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									Uploading
								</a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<div class="form-group">
									<label for="exampleInputEmail1">
										Folder path
									</label>
									<div class="input-group">
										<span class="input-group-addon" id="basic-addon3">
											<% if @page.cloud_storage_type == 'dropbox' %>
												<a href="https://www.dropbox.com/home/Apps/CloudTransfr/" target="_blank" >Dropbox/Apps/CloudTransfr/ </a>
											<% elsif @page.cloud_storage_type == 'googledrive' %>
											<a href="#" target="_blank" >Googledrive/Apps/CloudTransfr/ </a>
											<% elsif @page.cloud_storage_type == 'onedrive' %>
											<a href="#" target="_blank" >Onedrive/Apps/CloudTransfr/ </a>
											<% end%>
										</span>
										<%= f.text_field :name,class:"form-control"%>
									</div>
								</div>

								<div class="section-responsive">
									<div id="uploadingSet">
										<ul>
											<li>Question</li>
											<li>Type</li>
											<li>Description</li>
											<li></li>
										</ul>
										<% if @page.page_questions.present? %>
										<% @page.page_questions.each do |p_que| %>
										<%= render partial: "question_form", locals: {ques: p_que} %>
										<% end %>
									<% else %>
										<%= render partial: "question_form", locals: {ques: @page_que} %>
										<% end %>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									Notifications
								</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<div class="form-group email_frequency">
									<label>Send email notifications:</label>
									<div style="margin-left: 20px">
										<div class="radio">
											<label for="page_email_frequency_0">
												<%= f.radio_button :email_frequency, true, :checked => @page.email_frequency %>As files are uploaded
											 </label>
										 </div>
										 <div class="radio">
											 <label for="page_email_frequency_1">
												 <%= f.radio_button :email_frequency, false, :checked => !@page.email_frequency %>Never
												</label>
											</div>
										</div>
								</div>
								<div class="form-group email_frequency">
									<label>CC emails</label>
									<%= text_field_tag "cc_emails", "#{@page.page_cc_email.present? ? @page.page_cc_email.cc_email : '' }", class:"form-control", "data-role" => "tagsinput" %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="btn-wrap">
				<%= link_to "Cancel",pages_path, class: "red-btn" %>
				<%= f.submit "update",class:"violat-btn" %>
			</div>
			<% end %>
			<div class="hide" id="new_question_form">
				<%= render partial: "question_form", locals: {ques: @page_que} %>
			</div>
		</div>
	</div>
</div>
<script>
	$(window).scroll(function () {
		if ($(this).scrollTop() > 1) {
			$('header').addClass("sticky");
			$('body').addClass("sticky-b");
		} else {
			$('header').removeClass("sticky");
			$('body').removeClass("sticky-b");
		}
	});
	$('.toggle-view').click(function () {
		$('.toggle-view').removeClass('active');
		$(this).addClass('active');
		var add_class = $(this).attr('data-id');
		if (add_class == 'lib-grid') {
			$('.page-views').removeClass('lib-listing');
			$('.page-views').addClass(add_class);
		} else {
			$('.page-views').removeClass('lib-grid');
			$('.page-views').addClass(add_class);
		}
	});

	function appendNewQuestionForm(element) {
		var ques = element.parent().closest('ul').find("#page_question").val();
		var ques_type = element.parent().closest('ul').find("#page_question_type").val();
		var description = element.parent().closest('ul').find("#page_description").val();
		var is_required = element.parent().closest('ul').find("#page_is_required").is(":checked");

		var page_id = "<%= params[:id] %>";
		if (ques != "" && description != "") {
			console.log("Value exist........");
			var myKeyVals = {
				question: ques,
				question_type: ques_type,
				description: description,
				is_required: is_required
			}

			$.ajax({
				type: 'POST',
				url: "/add_question_setting/" + page_id,
				data: myKeyVals,
				dataType: "text",
				success: function (resultData) {
					var response = jQuery.parseJSON(resultData);
					if (response.message == "Add setting") {
						element.parent().closest('ul').attr('id', response.id);
						$("#uploadingSet").append($("#new_question_form").html());
					} else {
						console.log("Save not Complete----> ");
					}
				},
				error: function (error) {
					console.log("error.....");
				}
			});
		} else {
			console.log("Value not exist........");
			removeError(element.parent().closest('ul').find("#page_question"),"p_question");
			removeError(element.parent().closest('ul').find("#page_description"),"p_description");
		}
	}

	function removeQuestionForm(element) {
		var question_id = element.parent().closest('ul').attr("id");
		$.ajax({
			url: "/remove_question/" + question_id,
			type: 'GET',
			success: function (res) {
				console.log(res);
				element.parent().closest('ul').parent().remove();
			},
			error: function (error) {
				console.log("error.....");
			}
		});

	}

	function removeError(element,tag_class) {
		if(element.val() == ""){
			if(tag_class == "p_question"){
				que_error = "<small class='help-block' data-fv-validator='notEmpty' data-fv-for='page[question]' data-fv-result='INVALID' style=''>The question name is required</small>";
				element.parent().closest('ul').find(".p_question").addClass("has-feedback has-error");
				element.parent().closest('ul').find("."+tag_class).find("small").remove();
				element.parent().closest('ul').find(".p_question").append(que_error);
			}
			else if (tag_class == "p_description") {
				desc_error = "<small class='help-block' data-fv-validator='notEmpty' data-fv-for='page[description]' data-fv-result='INVALID' style=''>The description name is required</small>";
				element.parent().closest('ul').find(".p_description").addClass("has-feedback has-error");
				element.parent().closest('ul').find("."+tag_class).find("small").remove();
				element.parent().closest('ul').find(".p_description").append(que_error);
			}
		}
		else if (element.val() != "") {
			element.parent().closest('ul').find("."+tag_class).removeClass("has-feedback has-error");
			element.parent().closest('ul').find("."+tag_class).find("small").remove();
		}
	}

</script>
