<!-- <h1>List of pages</h1> -->

<%#= link_to "New Page", new_page_path %>
<%# @pages.each do |page| %>
<!-- <li><%#= link_to page.name, page_path(page) %></li> -->
<%# end %>
<%#= link_to "New Page", new_page_path %>
<div class="pad-block gray-bg first-pad page-list">
	<div class="container">
		<div class="main-title filter">
			<h2>Your Pages</h2>
			<div class="btn-group" role="group" aria-label="...">
				<button type="button" class="btn btn-default toggle-view active" data-id="lib-grid">
					<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default toggle-view" data-id="lib-listing">
					<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
				</button>
			</div>
		</div>
		<% if user_signed_in? && current_user.dropbox_detail.present? %>
			<div class="page-title">
				<h2>Dropbox Page</h2>
				<% if @allow_pages %>
					<%= link_to "New Page", new_page_pages_path('dropbox'), class: "violat-btn pull-right" %>
				<% elsif current_user.user_subscriptions.present? && current_user.user_subscriptions.last.subscription_plan_id == 2 && @plan_two_pages %>
					<%= link_to "New Page", new_page_pages_path('dropbox'), class: "violat-btn pull-right" %>
				<% elsif current_user.user_subscriptions.present? && current_user.user_subscriptions.last.subscription_plan_id == 3  %>
					<%= link_to "New Page", new_page_pages_path('dropbox'), class: "violat-btn pull-right" %>
				<% end %>
			</div>
			<ul class="page-views new-drive lib-grid">
				<% @drop_box_pages.each do |page| %>
				<li class="page-grid">
					<div class="lib-box">
						<%= link_to show_page_path(page),class: "lib-icn", method: :get do %>
							<%= image_tag "dropbox.png"%>
						<% end %>
						<div class="lib-act">
							<h3>
								<% if user_signed_in? && current_user.dropbox_detail.blank? %>
								<%= link_to page.name, staticpage_index_path %>
							<% else %>
								<%= link_to page.name, show_page_path(page), method: :get %>
								<button class='my_clip_button btn btn-primary' data-clipboard-text="https://cloudtransfr-staging.herokuapp.com<%= show_page_path(page) %>" id="google-drive-btn" title='Click me to copy to clipboard.'>Copy</button>
								<% end %>
							</h3>
							<div class="dropdown act-drop">
								<button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									<li><%= link_to edit_page_path(:id => page.id), class: "setting-btn", method: :get do %>
										<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
										Settings
										<% end%>
									</li>
									<li>
										<%= link_to page_path(page.id), method: :delete,data: { confirm: "Are you sure you want to delete this page?" } do %>
											<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											Delete
										<% end %>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</li>
			<% end %>
		</ul>
		<% end %>

		<% if user_signed_in? && current_user.google_detail.present? %>
			<div class="page-title">
				<h2>Google Drive Page</h2>
				<% if @allow_pages %>
					<%= link_to "New Page", new_page_pages_path('googledrive'), class: "violat-btn pull-right" %>
				<% elsif current_user.user_subscriptions.present? && current_user.user_subscriptions.last.subscription_plan_id == 2 && @plan_two_pages %>
					<%= link_to "New Page", new_page_pages_path('googledrive'), class: "violat-btn pull-right" %>
				<% elsif current_user.user_subscriptions.present? && current_user.user_subscriptions.last.subscription_plan_id == 3  %>
					<%= link_to "New Page", new_page_pages_path('googledrive'), class: "violat-btn pull-right" %>
				<% end %>
			</div>
			<ul class="page-views new-drive lib-grid">
				<% @google_drive_pages.each do |page| %>
				<li class="page-grid">
					<div class="lib-box">
						<%= link_to show_page_path(page),class: "lib-icn", method: :get do %>
							<%= image_tag "google-drive.png"%>
						<% end %>
						<!-- <a href="pages-inner.html" class="lib-icn"><img src="../assets/folder.png" alt="" /></a> -->
						<div class="lib-act">
							<h3>
								<% if user_signed_in? && current_user.google_detail.blank? %>
								<%= link_to page.name, staticpage_index_path %>
							<% else %>
								<%= link_to page.name, show_page_path(page) %>
								<button class='my_clip_button btn btn-primary' data-clipboard-text="https://cloudtransfr-staging.herokuapp.com<%= show_page_path(page) %>" id="google-drive-btn" title='Click me to copy to clipboard.'>Copy</button>
								<% end %>
							</h3>
							<div class="dropdown act-drop">
								<button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									<li>
										<%= link_to edit_page_path(:id => page.id), class: "setting-btn", method: :get do %>
											<span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings
										<% end%>
									</li>
									<li>
										<%= link_to page_path(page.id), method: :delete,data: { confirm: "You sure?" } do %>
											<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											Delete
										<% end %>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<% end %>
			</ul>
		<% end %>

		<% if user_signed_in? && current_user.onedrive_detail.present? %>
			<div class="page-title">
				<h2>OneDrive Page</h2>
				<% if @allow_pages %>
					<%= link_to "New Page", new_page_pages_path('onedrive'), class: "violat-btn pull-right" %>
				<% elsif current_user.user_subscriptions.present? && current_user.user_subscriptions.last.subscription_plan_id == 2 && @plan_two_pages %>
					<%= link_to "New Page", new_page_pages_path('onedrive'), class: "violat-btn pull-right" %>
				<% elsif current_user.user_subscriptions.present? && current_user.user_subscriptions.last.subscription_plan_id == 3  %>
					<%= link_to "New Page", new_page_pages_path('onedrive'), class: "violat-btn pull-right" %>
				<% end %>
			</div>
			<ul class="page-views new-drive lib-grid">
				<% @one_drive_pages.each do |page| %>
				<li class="page-grid">
					<div class="lib-box">
						<%= link_to show_page_path(page),class: "lib-icn", method: :get do %>
							<%= image_tag "one-drive.png"%>
						<% end %>
						<div class="lib-act">
							<h3>
								<% if user_signed_in? && current_user.onedrive_detail.blank? %>
								<%= link_to page.name, staticpage_index_path %>
							<% else %>
								<%= link_to page.name, show_page_path(page), method: :get %>
								<button class='my_clip_button btn btn-primary' data-clipboard-text="https://cloudtransfr-staging.herokuapp.com<%= show_page_path(page) %>" id="google-drive-btn" title='Click me to copy to clipboard.'>Copy</button>
								<% end %>
							</h3>
							<div class="dropdown act-drop">
								<button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									<li>
										<%= link_to edit_page_path(:id => page.id), class: "setting-btn", method: :get do %>
											<span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings
										<% end%>
									</li>
									<li>
										<%= link_to page_path(page.id), method: :delete,data: { confirm: "You sure?" } do %>
											<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											Delete
										<% end %>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<% end %>
			</ul>
		<% end %>

	</div>
</div>

<script>
	$(window).scroll(function () {
		if ($(this).scrollTop() > 1) {
			$('header').addClass("sticky");
			$('body').addClass("sticky-b");
		} else {
			$('header').removeClass("sticky");
			$('body').removeClass("sticky-b");
		}
	});
	$('.toggle-view').click(function () {
		$('.toggle-view').removeClass('active');
		$(this).addClass('active');
		var add_class = $(this).attr('data-id');
		if (add_class == 'lib-grid') {
			$('.page-views').removeClass('lib-listing');
			$('.page-views').addClass(add_class);
		} else {
			$('.page-views').removeClass('lib-grid');
			$('.page-views').addClass(add_class);
		}
	});
</script>
<script>
	$(document).ready(function() {
    var clip = new ZeroClipboard($(".my_clip_button"))
  });
</script>
