<div class="pad-block gray-bg first-pad page-list">
  <div class="container">
    <div class="main-title">
      <h2>Please create the url</h2>
    </div>

  <div class="setting-wrap">
    <%= form_for @pages do |f| %>
    <% if @pages.errors.any? %>
          <div >
            <h2><%= pluralize(@pages.errors.count, "error") %>prohibited this pages from being saved:</h2>

            <ul>
            <% @pages.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
      <% end %>

   <div class="form-group">
     <label for="exampleInputEmail1">Choose the URL name that you send to anyone</label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">http://cloudtransfr.com/</span>
        <%= f.text_field :name,class:"form-control"%>
      </div>
</br>
  <div class="btn-wrap">
    <div class="text-center">
      <!-- <button type="button" class="red-btn">Cancel</button> -->
      <%= f.submit 'Create',class:"violat-btn" %>
    </div>
  </div>


</div>


<% end %>
</div>
</div>
</div>


<!-- <div class="pad-block gray-bg first-pad page-list">
	<div class="container">
    	<div class="main-title">
        	<h2>Please create the url</h2>
        </div>

        <div class="setting-wrap">
        	<form>

              <div class="form-group">
                <label for="exampleInputEmail1">Choose the URL name that you send to anyone</label>
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon3">http://cloudtransfr.com/</span>
                  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">

                </div>
              </div>

              <div class="setting-cols">
              	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Collapsible Group Item #1
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Collapsible Group Item #2
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Collapsible Group Item #3
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="btn-wrap">
              <button type="button" class="red-btn">Cancel</button>
              <button type="submit" class="violat-btn">Save</button>
              </div>

            </form>
        </div>

  	</div>
</div> -->
