<div class="pad-block gray-bg first-pad page-list">
  <div class="container">
    <div class="main-title">
      <h2>Please create the url </h2>
    </div>
    <div class="setting-wrap">
      <%= form_for @pages do |f| %>
        <% if @pages.errors.any? %>
        <div>
          <h2><%= pluralize(@pages.errors.count, "error") %>prohibited this pages from being saved:</h2>
          <ul>
            <% @pages.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <% unless params[:type] == 'new' %>
          <%= f.hidden_field :cloud_storage_type,value: params[:type] %>
          <div class="form-group">
            <label for="exampleInputEmail1">Choose the URL name that you send to anyone</label>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon3">http://cloudtransfr.com/</span>
              <%= f.text_field :name,class:"form-control"%>
            </div>
          </div>
          <div class="btn-wrap">
            <div class="text-center">
              <!-- <button type="button" class="red-btn">Cancel</button> -->
              <%= f.submit 'Create',class:"violat-btn" %>
            </div>
          </div>
        <% else %>
          <%= render :partial => "create_page", :locals => { :f => f } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#new_page').formValidation({
      framework: 'bootstrap',
      icon: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
      },
      fields: {
        'page[name]': {
          validators: {
            notEmpty: {
              message: 'The page name is required'
            },
            remote: {
              message: 'This page name is already exist',
              url: '/pages/page_exist',
              type: 'POST'
            }
          }
        }
      }
    })
  });
</script>
