<div class="pad-block gray-bg first-pad page-list">
	<div class="container">
		<div class="main-title filter">
			<h2>Send files to
				<%= @user.email %></h2>
			<% if user_signed_in? && current_user.id == @page.user.id %>
				<%= link_to edit_page_path(:id => @page.id), class: "setting-btn", method: :get do %>
					<div>
						<button type="button" class="violat-btn">
							<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
							Setting</button>
					</div>
				<% end%>
			<% end%>
		</div>
		<% if @dropzone == false %>
			<h4 class="alert alert-danger">sorry your cloud transfer limit has exceeded</h1>
		<% end %>
		<div class="upload-wrap">
			<div id="dropzone" >
				<%= form_tag(upload_pages_path, :method => "post", :multipart => true, :id => "uploadfile",class: "dropzone needsclick ") do |f| %>
				<div class="dz-message needsclick">
					<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span><br/>
					<%#= file_field_tag :file %>
					<%= hidden_field_tag :id,params[:id] %>
					<%= hidden_field_tag :type,@page.cloud_storage_type %>
					Drop files here or click to upload.<br/>
				</div>
				<% end%>
			</div>
		</div>
		<button type="button" class="hide" id="openModal" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">Open Modal</button>

		<!-- Modal -->
		<%= render partial: "ques_ans_modal", locals: {ques: @page.page_questions} %>

		<% if user_signed_in? %>
		<div class="page-title filter">
			<h2><%= @page.cloud_storage_type.capitalize %>
				Page</h2>
			<div class="btn-group" role="group" aria-label="...">
				<button type="button" class="btn btn-default toggle-view active" data-id="lib-grid">
					<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default toggle-view" data-id="lib-listing">
					<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
				</button>
			</div>
		</div>
		<ul class="page-views lib-grid">
			<% @paths.each do |path| %>
			<li class="page-grid">
				<div class="lib-box">
					<div class="lib-icn">
						<%= image_tag "file.png"%>
						<div class="status"><%= path.created_at.in_time_zone("Chennai").strftime("%m/%d/%Y %H:%M") %></div>
						<% if @page.cloud_storage_type == 'dropbox' %>
							<%= link_to remove_from_dropbox_path(path.page.name, path: path.id), method: :delete,data: { confirm: "Are you sure you want to delete this file?" }, class: "btn remove-file-btn" do %>
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							<% end%>
						<% elsif @page.cloud_storage_type == 'onedrive' %>
							<%= link_to remove_from_onedrive_path(path.page.name, path: path.id), method: :delete,data: { confirm: "Are you sure you want to delete this file?" }, class: "btn remove-file-btn" do %>
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							<% end%>
						<% elsif @page.cloud_storage_type == 'googledrive' %>
							<%= link_to remove_from_googledrive_path(path.page.name, path: path.id), method: :delete,data: { confirm: "Are you sure you want to delete this file?" }, class: "btn remove-file-btn" do %>
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							<% end%>
						<% end%>
					</div>
					<div class="lib-act">
						<h3>
							<% if @page.cloud_storage_type == 'dropbox' && path.uploaded_filename.blank? %>
								<a href="#"><%= path.path.tr('/', '') %></a>
							<% elsif path.uploaded_filename.present? %>
								<a href="#"><%= path.uploaded_filename %></a>
							<% else %>
								<a href="#"><%= path.path %></a>
							<% end %>
						</h3>
						<div>
							<% if @page.cloud_storage_type == 'dropbox' %>
								<%= link_to dropbox_download_path(path.page.name, path: path.id), class: "btn download-btn" do %>
									<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
								<% end%>
							<% elsif @page.cloud_storage_type == 'googledrive' %>
								<%= link_to googledrive_download_path(path.page.name, path: path.id), class: "btn download-btn" do %>
									<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
								<% end%>
							<% elsif @page.cloud_storage_type == 'onedrive' %>
								<%= link_to onedrive_download_path(path.page.name, path: path.id), class: "btn download-btn" do %>
									<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
								<% end%>
							<% end %>
						</div>
					</div>
				</div>
			</li>
			<% end %>
		</ul>
		<% end %>
	</div>
</div>

<% if !user_signed_in? && !cookies["#{@page.name}"].present? %>
<script>
	$(document).ready(function () {
		$("#openModal").click();
	});
</script>
<% end %>

<script>

	$('#file').change(function () {
		document.forms["uploadfile"].submit();
	});

	$(window).scroll(function () {
		if ($(this).scrollTop() > 1) {
			$('header').addClass("sticky");
			$('body').addClass("sticky-b");
		} else {
			$('header').removeClass("sticky");
			$('body').removeClass("sticky-b");
		}
	});
	$('.toggle-view').click(function () {
		$('.toggle-view').removeClass('active');
		$(this).addClass('active');
		var add_class = $(this).attr('data-id');
		if (add_class == 'lib-grid') {
			$('.page-views').removeClass('lib-listing');
			$('.page-views').addClass(add_class);
		} else {
			$('.page-views').removeClass('lib-grid');
			$('.page-views').addClass(add_class);
		}
	});
</script>
<script>
Dropzone.options.uploadfile = {
	maxFilesize: <%= @check_mb %>,

	accept: function(file, done) {

		current_size = <%= @current_size %>
		limit = <%= @limit %>
		kilobytes = (file.size / 1024);
		megabytes = (kilobytes / 1024);
		file_of_size = Number((megabytes).toFixed(2)) ;
		file_of_size = file_of_size + current_size ;
		if(file_of_size > limit.toFixed(2) )
		{
			this.defaultOptions.error(file, 'Sorry your cloud transfer limit has exceeded');
			return false
		}

		if (file.size >= <%= @mb %> )
		{
			return done(this.options.dictFileTooBig.replace("{{filesize}}", Math.round(file.size / 1024 / 10.24) / 100).replace("{{maxFilesize}}", this.options.maxFilesize));
		}
		else
		{
			return done();
		}
	},
}

</script>
<script>
// This example uses jQuery so it creates the Dropzone, only when the DOM has
// loaded.

// Disabling autoDiscover, otherwise Dropzone will try to attach twice.
Dropzone.autoDiscover = false;
$(function() {
	limit = <%= @limit %>
  var myDropzone = new Dropzone(".dropzone");
	<% if @dropzone == false %>
		$('.dropzone').click(function(){
			alert("You don't have enough space to upload this file");
		})
		myDropzone.disable();
	<% end %>
	myDropzone.on("sending", function(file, xhr, formData)
	{
  // Will send the filesize along with the file as POST data.
  	formData.append("filesize", file.size);
		formData.append("limit", limit);
	});
})

</script>
