

<div class="pad-block gray-bg first-pad page-list">
	<div class="container">
    	<div class="main-title filter">
        	<h2>Send files to <%= @user.email %></h2>
					<%= link_to edit_page_path(:id => @page.id), class: "setting-btn" do %>
            <div>
                <button type="button" class="violat-btn"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Setting</button>
            </div>
						<% end%>
        </div>
    	<div class="upload-wrap">
            <div id="dropzone">
								<%= form_tag(upload_pages_path, :method => "post", :multipart => true, :id => "uploadfile",class: "dropzone needsclick") do |f| %>
                <!-- <form action="/upload" class="dropzone needsclick" id="demo-upload"> -->
                    <div class="dz-message needsclick">
                    	<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span><br />
											<%#= file_field_tag :file %>
											<%= hidden_field_tag :id,params[:id] %>
                        Drop files here or click to upload.<br />
                        <span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
                    </div>
										<% end%>
                <!-- </form> -->
            </div>
        </div>
				<% if user_signed_in? %>
        <div class="page-title filter">
            <h2>Dropbox Page</h2>

            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default toggle-view active" data-id="lib-grid"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default toggle-view" data-id="lib-listing"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></button>
            </div>
        </div>
        <ul class="page-views lib-grid">
					<% @paths.each do |path| %>
            <li class="page-grid">
                <div class="lib-box">
                    <a href="pages-inner.html" class="lib-icn"><img src="../assets/file.png" alt="" /><div class="status">34 min ago</div></a>
                    <div class="lib-act">
                        <h3><a href="pages-inner.html"><%= path.tr('/', '') %></a></h3>
                        <div><%= link_to dropbox_download_path(path: path), class: "btn download-btn" do %>
													<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
													<% end%>
												</div>
                    </div>
                </div>
            </li>
						<% end %>
            <!-- <li class="page-grid">
                <div class="lib-box">
                    <a href="pages-inner.html" class="lib-icn"><img src="../assets/file.png" alt="" /><div class="status">34 min ago</div></a>
                    <div class="lib-act">
                        <h3><a href="pages-inner.html">My Personal</a></h3>
                        <div class="download-btn"><a href="#"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></div>
                    </div>
                </div>
            </li> -->
        </ul>
  	</div>
	</div>
<% end %>
<script>
	$('#file').change(function() {
	  document.forms["uploadfile"].submit();
	});
// $('#file').click(function(){
//     // alert("test");
//      $.ajax({
// 			 alert()
//            type: "POST",
//            url: '<%= upload_pages_path %>',
//            data: {status: $(this).val(), id: id }
//         });
//  });


$(window).scroll(function() {
	if ($(this).scrollTop() > 1){
		$('header').addClass("sticky");
		$('body').addClass("sticky-b");
	}
	else{
		$('header').removeClass("sticky");
		$('body').removeClass("sticky-b");
	}
});
$('.toggle-view').click(function () {
        $('.toggle-view').removeClass('active');
        $(this).addClass('active');
        var add_class = $(this).attr('data-id');
        if (add_class == 'lib-grid') {
            $('.page-views').removeClass('lib-listing');
            $('.page-views').addClass(add_class);
        } else {
            $('.page-views').removeClass('lib-grid');
            $('.page-views').addClass(add_class);
        }
    });

</script>
<script>

// Dropzone.options.myDropzone({
//   init: function() {
//     this.on("error", function(file, message) { alert(message); });
//   }
// });
// // or if you need to access a Dropzone somewhere else:
// var myDropzone = Dropzone.forElement("div#my-dropzone");
// myDropzone.on("error", function(file, message) { alert(message); });

</script>
