<!-- /.login-logo -->
<div class="login-box-body">
  <p class="login-box-msg">Sign in</p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group has-feedback">
      <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <%= render "admins/shared/links" %>
      </div>
      <!-- /.col -->
      <div class="col-xs-4">
        <%= f.submit "Sign In",class: "btn btn-primary btn-block btn-flat" %>
      </div>
      <!-- /.col -->
    </div>
  <% end %>
</div>
<!-- /.login-box-body -->
