<h1>Create a new subscription</h1>
<%= form_tag('/subscriptions',{method: :post}) do %>
  <div class="form-group">
    <label>Plan name</label>
    <input name="name" type="text"></input>
  </div>
  <div class="form-group">
    <label>Plan interval</label>
    <%= select_tag 'interval', options_for_select(['month', 'year']), multiple: false, :include_blank => true,  class: "form-control" %>
  </div>
  <div class="form-group">
    <label>Plan Value</label>
    <input name="amount" type="text"></input>
  </div>
  <button type="submit">Submit to Stripe</button>
<% end %>
