<div class="pad-block gray-bg log-wrap">
	<div class="container">
		<div class="sign-wrap">
			<div class="side-block">
				<div class="img"><%= image_tag("sign-img.png" ,class:"img-responsive") %></div>
			</div>
			<div class="sign-block">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="#signin" aria-controls="signin" role="tab" data-toggle="tab">Sign in</a>
					</li>
				</ul>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="signin">
						<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
						<div class="form-group">
							<label for="exampleInputEmail1">Email address</label>
							<%= f.email_field :email, autofocus: true , class:'form-control' , placeholder:'Email' %>
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Password</label>
							<%= f.password_field :password, autocomplete: "off"  , class:'form-control' , placeholder:'Password'%>
						</div>
						<div class="clear-line">
							<div class="checkbox remember">
								<label><input type="checkbox">
									<span></span>Remember me</label>
							</div>
							<%= link_to "Forgot Password?", new_password_path(resource_name) ,class:'link forgot' %>
						</div>
						<div class="text-center">
							<%= f.submit "Sign in" , class:'violat-btn' %>
						</div>
						<hr>
						<p class="text-center">New user?
							<%= link_to 'Create an account',new_user_registration_path %>
							.</p>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
