// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// table {
//     font-family: arial, sans-serif;
//     border-collapse: collapse;
//     width: 100%;
// }
//
// td, th {
//     border: 1px solid #dddddd;
//     text-align: left;
//     padding: 8px;
// }
//
// tr:nth-child(even) {
//     background-color: #dddddd;
// }
