  @charset "utf-8";
/* CSS Document */

::selection{background:#02a0e0;color:#fff;}
body{font-family: 'Lato', sans-serif;padding-top:140px;}
h1, h2, h3, h4, h5, h6{font-family: 'montserrat';}

*, a, button, input{-webkit-transition: all 0.3s ease;-o-transition:all 0.3s ease;transition: all 0.3s ease;}
a, a:hover, a:focus{text-decoration:none;outline:none;}
button, button:hover, button:focus, button:active, input, input:hover, input:focus{outline:none;}

a{color:#6c63ff;}
a:hover{color:#4b42df;}

ul{margin:0;padding:0;list-style:none;}
ul.inline li{display:inline-block;}
ul.block li{display:block;}

.pink-btn{font-size:12px;color:#fff;background:#f8a4d8;border:solid 1px #f8a4d8;padding:9px 30px;text-transform:uppercase;font-weight:400;line-height:20px;display:inline-block;letter-spacing:1px;border-radius:40px;}
.pink-btn:hover, .pink-btn:focus{background:#e383be;color:#fff;border-color:#e383be;}
.violat-btn{font-size:12px;color:#fff;background:#6c63ff;border:solid 1px #6c63ff;padding:9px 30px;text-transform:uppercase;font-weight:400;line-height:20px;display:inline-block;letter-spacing:1px;border-radius:40px;}
.violat-btn:hover, .violat-btn:focus{background:#4b42df;color:#fff;border-color:#4b42df;}
.red-btn{font-size:12px;color:#fff;background:#cd2828;border:solid 1px #cd2828;padding:9px 30px;text-transform:uppercase;font-weight:400;line-height:20px;display:inline-block;letter-spacing:1px;border-radius:40px;}
.red-btn:hover, .red-btn:focus{background:#ae1d1d;color:#fff;border-color:#ae1d1d;}

.flex-box{display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;}

.fix-img{position: absolute;left: 50%;top: 50%;-webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}



header{-webkit-transition: all 0.3s ease;-o-transition:all 0.3s ease;transition: all 0.3s ease;background:#fff;border-bottom:none;padding:30px 0;position: fixed;width: 100%;z-index:3;top:0;}
header.sticky{box-shadow:0px 0px 10px rgba(0,0,0,0.1);}

.navbar-default{margin:0;background:none;border:0;border-radius:0;box-shadow:none;box-shadow:none;}
.navbar-default .navbar-toggle{border:none;color:#fff;background:#6c63ff;border-radius:3px;padding:10px;font-weight:400;text-align:center;margin-top:22px;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{color:#fff;background:#4b42df;}
.navbar-default .navbar-toggle .icon-bar{background:#fff;}

.navbar-default .navbar-brand{height:auto;}
.navbar-default .navbar-nav{margin-top:20px;}
.navbar-default .navbar-nav>li>a{color:#333s;font-weight:400;font-size:14px;padding:10px 15px;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a.active{color:#6c63ff;background:none;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{color:#6c63ff;background:none;font-weight:700;}

.navbar-default .navbar-nav>li.btn-view{margin-left:20px;}
.navbar-default .navbar-nav>li.btn-view>a{border:none;color:#fff;background:#6c63ff;border-radius:40px;padding:10px 25px;text-decoration:none;line-height:20px;font-size:12px;letter-spacing:1.5px;text-transform:uppercase;}
.navbar-default .navbar-nav>li.btn-view>a:hover{color:#fff;background:#4b42df;}

.navbar-default .user-drop {margin:0 0 0 20px;}
.navbar-default .user-drop .dropdown-toggle{border:none;color:#fff;background:#6c63ff;border-radius:40px;padding:10px 20px;text-decoration:none;line-height:20px;font-size:12px;letter-spacing:1px;text-transform:uppercase;}
.navbar-default .user-drop .dropdown-toggle:hover, .navbar-default .user-drop .dropdown-toggle:focus{color:#fff;background:#4b42df;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{color:#fff;background:#4b42df;}
.navbar-default .navbar-nav .dropdown-menu {border: none;border-radius: 5px;top: 120%;right: 0;left: inherit;background:#fff;min-width:200px;-webkit-box-shadow: 0 3px 12px rgba(0,0,0,.15);box-shadow: 0 3px 12px rgba(0,0,0,.15);}
.navbar-default .navbar-nav .dropdown-menu a {color: #333;padding: 8px 20px;font-size:12px;text-transform:uppercase;}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{color:#4b42df;background:rgba(75, 66, 223, 0.1);}

header.sticky{padding:0;}

.banner{padding:30px 0 50px;position:relative;}
.banner .banner-caption{text-align:left;position:relative;z-index:1;min-height:500px;max-width:450px;}
.banner .banner-caption h2{color:#333;font-size:32px;margin:0;font-weight:700;}
.banner .banner-caption h3{color:#333;font-size:32px;margin:0 0 50px;font-weight:200;}
.banner .banner-caption p{font-weight:200;color:#333;margin:0;font-size:20px;font-family: 'montserrat';}
.banner .banner-caption .btn-wrap .line-btn{margin:0 10px 10px;color:#fff;border-color:#333;min-width:250px;}
.banner .banner-caption .btn-wrap .line-btn:hover{color:#4bb7c3;background:#333;}
.banner .page-frm{margin:0 0 50px;}
.banner .page-frm .form-group{margin:0 0 10px;}
.form-control{border:solid 1px #ddd;border-radius:40px;padding:9px 20px;box-shadow:none;height:auto;}
.banner .banner-img{text-align:center;}
.banner .banner-img img{display:inline-block;}


.main-title{margin:0 0 50px;position:relative;}
.main-title h2{color:#333;font-size:32px;margin:0;font-weight:700;}
.main-title h3{color:#333;font-size:32px;margin:0;font-weight:200;}
.main-title .btn-wrap{margin:40px 0 0;}

.pad-block{padding:100px 0;position:relative;}
.first-pad{padding:50px 0 100px;}
.white-bg{background:#fff;}
.gray-bg{background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(245,245,245,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(20%, rgba(255,255,255,1)), color-stop(100%, rgba(245,245,245,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(245,245,245,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(245,245,245,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(245,245,245,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(245,245,245,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0 );}

.do-img{position:absolute;top:0;left:0;bottom:0;width:50%;padding:10px 5%;text-align:center;}
.do-img img{display:inline-block;max-height:100%;}
.do-block .main-title{margin:0 0 40px;}
.do-block p{margin:0 0 20px;font-size:16px;line-height:24px;}

.price-wrap {padding:100px 0 0;}
.price-wrap .main-title{margin:0 0 100px;}

.switch-plan .main-title{margin:0 0 100px;}

.plan-box{position:relative;max-width:850px;margin:0 auto;}
.plan-box:after{width:100%;bottom:-30px;}
.plan-box .sep{display:none;}
.plan-box .plan-block{padding: 20px 20px 40px;background: #f4f6f9;-moz-box-shadow: rgba(0,0,0,0.1) 0 20px 35px;-webkit-box-shadow: rgba(0,0,0,0.1) 0 20px 35px;box-shadow: rgba(0,0,0,0.1) 0 20px 35px;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;text-align:center;overflow:hidden;margin-bottom:40px;max-width:300px;margin-left:auto;margin-right:auto;}
.plan-box .plan-block:not(.current):hover{position:relative;z-index:2;-moz-transform:scale(1.1);-webkit-transform:scale(1.1);transform:scale(1.1);-webkit-transition: all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
.plan-box .plan-block.current{-moz-transform:scale(1.1);-webkit-transform:scale(1.1);transform:scale(1.1);position:relative;z-index:2;}


.plan-block .p-title{line-height:24px;font-size:16px;text-transform:uppercase;color:#333;background:#fff;margin:-20px -20px 0;padding:15px;font-weight:700;}
.plan-block.current .p-title{color:#fff;background: rgba(107,99,255,1);
background: -moz-linear-gradient(-45deg, rgba(107,99,255,1) 0%, rgba(248,164,216,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(107,99,255,1)), color-stop(100%, rgba(248,164,216,1)));
background: -webkit-linear-gradient(-45deg, rgba(107,99,255,1) 0%, rgba(248,164,216,1) 100%);
background: -o-linear-gradient(-45deg, rgba(107,99,255,1) 0%, rgba(248,164,216,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(107,99,255,1) 0%, rgba(248,164,216,1) 100%);
background: linear-gradient(135deg, rgba(107,99,255,1) 0%, rgba(248,164,216,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b63ff', endColorstr='#f8a4d8', GradientType=1 );}
.plan-block .img{margin:35px 0;text-align:center;}
.plan-block .img img{max-width:100%;}

.plan-block .p-desc{margin:0 0 30px;}
.plan-block .p-desc ul{margin:0;}
.plan-block .p-desc ul li{margin:0 0 10px;font-size:14px;line-height:18px;color:#333;}
.plan-block .p-desc ul li.bold{font-weight:700;margin:0 0 20px;}
.plan-block .p-price{margin:0 0 30px;}
.plan-block .p-price h3{font-size:40px;font-weight:700;color:#6d64ff;line-height:40px;margin:0 0 5px;}
.plan-block .p-price .dlr{font-size: 16px;margin-right: 3px;line-height:14px;}
.plan-block .p-price .time{font-size: 16px;margin-right: 3px;line-height:14px;text-transform:capitalize;}
.plan-block .pink-btn:hover{background:#4b42df;color:#fff;border-color:#4b42df;}
.plan-block.current .pink-btn{pointer-events: none;background:#4b42df;color:#fff;border-color:#4b42df;}
.plan-block.current .pink-btn span{margin-right:5px;}


@media(min-width:768px){
.plan-box .plan-block.srt{margin-bottom:-20px}
.plan-box .plan-block.adv{margin-bottom:-20px}
.plan-box .plan-block.ent{margin-bottom:-20px}
.plan-block .p-desc{min-height:250px;}
}


footer{padding:50px 0 50px;background:#fff url(../images/footer-bg.png) center repeat-x;position:relative;z-index:1;background-size: auto 100%;}
/*footer .news-letter{padding: 40px;background: #fff;-moz-box-shadow: rgba(0,0,0,0.1) 0 15px 35px;-webkit-box-shadow: rgba(0,0,0,0.1) 0 15px 35px;box-shadow: rgba(0,0,0,0.1) 0 15px 35px;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;text-align:center;margin:0 auto 50px;max-width:750px;}
footer .news-letter .main-title{margin:0 0 30px;}
footer .news-letter .form-control{border-radius:40px !important;}
footer .news-letter .input-group-btn{padding-left:4px;}*/
footer .foot-cont{text-align:center;margin:0 0 40px;padding:0 0 40px;border-bottom:solid 1px #ddd;}
footer .foot-cont .foot-logo{margin:0;}
footer .copy{text-align:center;}
footer .copy ul{}
footer .copy li{display:inline-block;padding:0 15px;line-height:14px;font-size:14px;border-left:solid 1px #666;color:#666;}
footer .copy li:first-child{border-left:none;}
footer .copy a{line-height:14px;font-size:14px;color:#666;}

.log-wrap{padding:50px 0 100px;}

.sign-wrap{position:relative;padding:0 50px 0 40%;}
.sign-wrap .side-block{background: rgba(107,99,255,1);
background: -moz-linear-gradient(-45deg, rgba(107,99,255,1) 0%, rgba(248,164,216,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(107,99,255,1)), color-stop(100%, rgba(248,164,216,1)));
background: -webkit-linear-gradient(-45deg, rgba(107,99,255,1) 0%, rgba(248,164,216,1) 100%);
background: -o-linear-gradient(-45deg, rgba(107,99,255,1) 0%, rgba(248,164,216,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(107,99,255,1) 0%, rgba(248,164,216,1) 100%);
background: linear-gradient(135deg, rgba(107,99,255,1) 0%, rgba(248,164,216,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b63ff', endColorstr='#f8a4d8', GradientType=1 );}

.sign-wrap .side-block{position:absolute;left:50px;top:0;bottom:0;right:50px;z-index:0;;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;}
.sign-wrap .side-block .img{position:absolute;width:calc(40% - 20px);left:10px;top:10px;bottom:10px}
.sign-wrap .side-block .img img{max-width:100%;max-height:100%;position:absolute;left:50%;top:50%;-webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}

.sign-wrap .sign-block{background:#fff;-moz-box-shadow: rgba(0,0,0,0.1) 0 0 35px;-webkit-box-shadow: rgba(0,0,0,0.1) 0 0 35px;box-shadow: rgba(0,0,0,0.1) 0 0 35px;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;position:relative;z-index:1;overflow:hidden;}
.sign-wrap .nav-tabs{border:none;}
.sign-wrap .nav-tabs>li{margin:0;width:100%;}
.sign-wrap .nav-tabs>li>a{margin:0;padding:15px;text-align:center;background:rgba(110, 101, 255, 0.2);border-radius:0;border:none;color:#333;text-transform:uppercase;letter-spacing:1px;font-size:14px;line-height:20px;}
.sign-wrap .nav-tabs>li.active>a, .sign-wrap .nav-tabs>li.active>a:focus, .sign-wrap .nav-tabs>li.active>a:hover{border:none;color:#333;background:rgba(110, 101, 255, 0.2);}
.sign-wrap .tab-content{padding:30px;}
.sign-wrap .clear-line{margin:0 0 20px;}
.sign-wrap .clear-line:after{clear:both;display:block;content:'';}
.sign-wrap .form-group{margin:0 0 20px;}
.sign-wrap .input-group-addon{font-size: 14px;color: #fff;background: #6c63ff;border: solid 1px #6c63ff;padding: 9px 15px;font-weight: 400;line-height: 20px;border-radius: 40px 0 0 40px;}
.sign-wrap .form-control{padding: 9px 15px;}
.sign-wrap p{margin:0;}
.sign-wrap .forgot{float:right;}
.sign-wrap .remember{float:left;}
.sign-wrap .checkbox, .sign-wrap .radio{margin:0;}
.checkbox label, .radio label{margin:0;line-height:normal;}

.checkbox label, .radio label{display:inline-block;vertical-align:0px;font-weight:400;cursor: pointer;padding-left:0;}
.checkbox input[type=checkbox]{display:none;}
.checkbox input[type=checkbox] + span {display:inline-block;width:16px;height:16px;vertical-align:-3px;border-radius:2px;border:solid 2px #6e65ff;margin:0 10px 0 0;position:relative;}
.checkbox input[type=checkbox]:checked + span:after{content:'';position:absolute;top:3px;left:3px;height:6px;width:6px;background:#6e65ff;}
.radio input[type=radio]{display:none;}
.radio input[type=radio] + span {display:inline-block;width:18px;height:18px;vertical-align:-4px;border-radius:50%;border:solid 2px #6e65ff;margin:0 10px 0 0;position:relative;}
.radio input[type=radio]:checked + span:after{content:'';position:absolute;top:3px;left:3px;height:8px;width:8px;background:#6e65ff;border-radius:50%;}

.auth-wrap{padding:50px 0 100px;}

.cloud-box{background:#fff;border-radius:10px;padding:40px 20px;text-align:center;-moz-box-shadow: rgba(0,0,0,0.1) 0 0 35px;-webkit-box-shadow: rgba(0,0,0,0.1) 0 0 35px;box-shadow: rgba(0,0,0,0.1) 0 0 35px;max-width:400px;margin:0 auto 30px;}
.cloud-box:hover, .cloud-box.auth-done{background: rgba(107,99,255,1);
background: -moz-linear-gradient(-45deg, rgba(107,99,255,1) 0%, rgba(248,164,216,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(107,99,255,1)), color-stop(100%, rgba(248,164,216,1)));
background: -webkit-linear-gradient(-45deg, rgba(107,99,255,1) 0%, rgba(248,164,216,1) 100%);
background: -o-linear-gradient(-45deg, rgba(107,99,255,1) 0%, rgba(248,164,216,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(107,99,255,1) 0%, rgba(248,164,216,1) 100%);
background: linear-gradient(135deg, rgba(107,99,255,1) 0%, rgba(248,164,216,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b63ff', endColorstr='#f8a4d8', GradientType=1 );}
.cloud-box .cloud-icn{display:inline-block;width:100px;height:100px;border:solid 10px #fff;padding:10px;border-radius:50%;-moz-box-shadow: rgba(0,0,0,0.1) 0 0 35px;-webkit-box-shadow: rgba(0,0,0,0.1) 0 0 35px;box-shadow: rgba(0,0,0,0.1) 0 0 35px;margin:0 0 30px;background:#f5f5f5;position:relative;}
.cloud-box .cloud-icn span{display:none;}
.cloud-box:hover .cloud-icn, .cloud-box.auth-done .cloud-icn{-moz-box-shadow: rgba(0,0,0,0.3) 0 0 35px;-webkit-box-shadow: rgba(0,0,0,0.3) 0 0 35px;box-shadow: rgba(0,0,0,0.3) 0 0 35px;background:#eee;}
.cloud-box .cloud-icn img{width:100%;display:block;}
.cloud-box.auth-done .cloud-icn span{position:absolute;top:-15px;right:-15px;background: #f8a4d8;width:40px;height:40px;line-height:40px;text-align:center;color:#fff;font-size:22px;border-radius:50%;display:block;}
.cloud-box h3{font-size:18px;font-weight:700;text-transform:uppercase;margin:0 0 20px;color:#333;}
.cloud-box p{font-size:14px;line-height:24px;color:#666;margin:0 0 30px;}
.cloud-box:hover h3, .cloud-box.auth-done h3{color:#fff;}
.cloud-box:hover p, .cloud-box.auth-done p{color:#eee;}

.text-wrap{max-width:900px;margin:0 auto;}
.text-wrap *{font-size:16px;line-height:28px;}
.text-wrap .text-img{margin:0 0 30px;}
.text-wrap .text-img img{max-height:350px;display:inline-block;}
.text-wrap p{font-size:16px;line-height:28px;margin:0 0 15px;}
.text-wrap strong{font-weight:700;}
.text-wrap h3{margin:35px 0 15px;font-size:22px;line-height:normal;font-weight:700;}

.panel-default{border:none;margin:0 0 30px;-moz-box-shadow: rgba(0,0,0,0.1) 0 15px 35px;-webkit-box-shadow: rgba(0,0,0,0.1) 0 15px 35px;box-shadow: rgba(0,0,0,0.1) 0 15px 35px;border-radius:0;}
.panel-default>.panel-heading{background:rgba(110, 101, 255, 0.2);padding:15px 20px;line-height:20px;border:none;border-radius:0;}
.panel-title{color:#333;font-size:16px;margin:0;font-weight:700;}
.panel-body{padding:20px;}
.panel-footer{background:rgba(110, 101, 255, 0.1);padding:15px 20px;line-height:20px;border:none;border-radius:0;}
.pro-frm .form-group{margin:0 0 20px;}

.card-wrap{}
.card-wrap .card-block{margin:0 0 20px;background:#eee;border-radius:5px;padding:15px;}
.card-block .card-num{font-size:14px;font-weight:700;color:#333;margin:0 0 10px;letter-spacing:2px;}
.card-block .card-detail{padding:0;list-style:none;margin:0 0 10px;}
.card-block .card-detail li{display:inline-block;width:48%;}
.card-block .expire{font-size:14px;font-weight:400;color:#666;}
.card-block .cvv{text-align:right}
.card-block .cvv input{width:60px;padding:10px;border:solid 1px #ddd;border-radius:30px;display:inline-block;text-align:center;font-size:14px;line-height:16px;}
.card-block .type{width:64px;height:50px;display:block;background:url(../images/card-type.png) no-repeat;}
.card-block .type.visa{background-position:-148px 0px;}

.card-save .form-group {margin: 0 0 20px;}
.card-save .input-group-addon {font-size: 18px;color: #fff;background: #6c63ff;border: solid 1px #6c63ff;padding: 9px 15px 9px 20px;font-weight: 400;line-height: 20px;border-radius: 40px 0 0 40px;}

.main-title:after{clear:both;display:block;content:'';}
.main-title.filter h2{float:left;}
.filter .btn-group{float:right;}
.filter .btn-group *{-webkit-transition: all 0s ease;-o-transition:all 0s ease;transition: all 0s ease;}
.filter .btn-group .btn{padding:6px 12px;line-height:18px;background:#fff;font-size:14px;outline:none;}
.filter .btn-group .btn .fa{line-height:18px;}
.filter .btn-group .btn:hover{background:#eee;color:#333;border-color:#ddd;}
.filter .btn-group .btn.active{background:#6c63ff;color:#fff;border-color:#6c63ff;}
.filter .setting-btn{float:right}
.setting-btn .violat-btn{padding:7px 20px;}
.setting-btn .violat-btn .glyphicon{top: 0;font-size: 14px;vertical-align: -2px;margin: 0 5px 0 0;}

.page-list{}
.page-list .page-title{margin:0 0 20px;padding:0 0 10px;border-bottom:solid 1px #ddd;}
.page-list .page-title:after{clear:both;display:block;content:'';}
.page-title h2{font-size:20px;font-weight:700;margin:0;color:#333;display: inline-block;margin-top: 10px;}
.page-title.filter h2{float:left;line-height:32px;}

.page-views{margin:0 -10px 50px;}
.page-views:after{clear:both;display:block;content:'';}
.page-views .page-grid{float: left;width: 200px;padding:0 10px;}
.lib-box{padding:0 0 40px;position:relative;margin:0 0 30px;}
.lib-box .lib-icn{background: #fff;border-radius: 10px;padding: 0;text-align: center;-moz-box-shadow: rgba(0,0,0,0.15) 0 10px 15px; -webkit-box-shadow: rgba(0,0,0,0.15) 0 10px 15px;box-shadow: rgba(0,0,0,0.15) 0 10px 15px; position:relative;height:120px;display:block;padding:10px;position:relative;overflow:hidden;}
.lib-box .lib-act{position:absolute;left:0;right:0;bottom:0;height:30px;}
.lib-icn .status{background:rgba(0,0,0,0.5);color:#fff;font-size:12px;padding:5px;position:absolute;left:0;right:0;bottom:0;}
.lib-act h3{color:#333;font-size:12px;margin:0;float:left;width:calc(100% - 35px);line-height:20px;padding-top:5px;}
.lib-act h3 a{color:#333;display:block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.lib-act h3 a:hover{color:#4b42df;}
.lib-act .act-drop {position: absolute;top: 0;right: 0;}
.lib-act .act-drop .dropdown-toggle {background: #6c63ff;color: #fff;font-size: 16px;height: 30px;width: 30px;line-height: 32px;padding: 0;text-align: center;border: none;border-radius: 50%;-moz-box-shadow: rgba(0,0,0,0.1) 0 15px 35px;-webkit-box-shadow: rgba(0,0,0,0.1) 0 15px 35px;box-shadow: rgba(0,0,0,0.1) 0 0px 10px;}
.act-drop .dropdown-menu {border: none;border-radius: 5px;left: inherit;top: 30px;right: 0;min-width:130px;background:#f9f9f9;}
.act-drop .dropdown-menu a {color: #333;padding: 8px 20px;font-size:12px;text-transform:uppercase;}
.act-drop .dropdown-menu a:hover {color: #52b51b;background: rgba(82,181,27,0.1)}
.act-drop.open .dropdown-menu>li>a:focus, .act-drop.open .dropdown-menu>li>a:hover{color:#4b42df;background:rgba(75, 66, 223, 0.1);}
.act-drop .dropdown-menu a span{margin:0 5px 0 0;text-align:center;vertical-align:-1px;}
.lib-act .download-btn{position: absolute;top: 0;right: 0;}
.lib-act .download-btn a{background: #6c63ff;color: #fff;font-size: 16px;height: 30px;width: 30px;line-height: 32px;padding: 0;text-align: center;border: none;border-radius: 50%;-moz-box-shadow: rgba(0,0,0,0.1) 0 15px 35px;-webkit-box-shadow: rgba(0,0,0,0.1) 0 15px 35px;box-shadow: rgba(0,0,0,0.1) 0 0px 10px;display:block;}

.page-views.lib-listing .page-grid {float: none;width: 100%;padding: 0 10px;}
.lib-listing .lib-box {padding: 0;margin:0 0 10px;}
.lib-listing .lib-box .lib-icn {padding: 5px 10px;text-align:left;height:40px;border-radius: 5px;}
.lib-listing .lib-box .lib-icn img{width:30px;}
.lib-listing .lib-icn .status{background: none;color: #666;left: inherit;right: 65px;bottom: 0;top: 0;padding-top: 10px;}
.lib-listing .lib-box .lib-act{height:40px;}
.lib-listing .lib-act h3{padding-top:10px;width: calc(100% - 190px);}
.lib-listing .lib-act h3 a{padding-left:55px;}
.lib-listing .lib-act .act-drop {top: 5px;right: 10px;}
.lib-listing .lib-act .download-btn{top: 5px;right: 30px;}
.lib-grid .lib-icn .remove-file-btn{ position: absolute; top: 0; right: 0; padding: 0 4px 0 4px;}
.lib-listing .lib-icn .remove-file-btn {
    position: absolute;
    top: 0;
    right: 4px;
    padding: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    display: inline-block;
    z-index: 999;
}

#dropzone { margin-bottom: 3rem; }
.dropzone { border: 2px dashed #6c63ff; border-radius: 5px; background: white;padding:50px;}
.dropzone .glyphicon{top:0;font-size:60px;color:#ddd;display:inline-block;margin:0 0 10px;}
.dropzone .dz-message { font-weight: 700; font-size:20px;font-family: 'montserrat';margin:16px 0;}
.dropzone .dz-message .note { font-size:14px; font-weight: 300; display: block; margin-top: 1.4rem; }

.setting-wrap{margin:0 0 30px;}
.setting-wrap .form-group {margin: 0 0 20px;}
.setting-wrap .input-group-addon {font-size: 14px;color: #fff;background: #6c63ff;border: solid 1px #6c63ff;padding: 9px 15px;font-weight: 400;line-height: 20px;border-radius: 40px 0 0 40px;}
.setting-wrap .input-group-addon a {color: #fff;}
.setting-wrap .input-group-addon a:hover {color: #fff;}
.setting-wrap .setting-cols{margin:0 0 20px;}
.setting-cols .panel-group .panel+.panel{margin-top:10px;}
.setting-cols .panel-default{-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);box-shadow: 0 1px 3px rgba(0,0,0,.1);}
.setting-cols .panel-default>.panel-heading{padding:0;}
.setting-cols .panel-title a{padding:15px;display:block;}

.delete-text{text-align:center;padding:20px;}
.delete-text .icn-box{display:inline-block;font-size:60px;color:#cd2828;margin:0 0 20px;line-height:60px;}
.delete-text h3{font-size:20px;font-weight:700;color:#cd2828;margin:0 0 30px;}
.delete-text p{margin:0 0 20px;font-size:16px;color:#666;}
.delete-text .btn-wrap{text-align:center;}
.delete-text .btn-wrap button{margin:0 5px;}


/* Dynamic quesiton setting form */
#uploadingSet ul:nth-child(1) {border-bottom: 3px solid #ddd;margin-bottom: 10px; }
#uploadingSet .uploadingForm ul {border-bottom: 1px solid #ddd;;margin-bottom: 0;}
#uploadingSet ul {float: left;width: 100%;padding: 5px 0px;}
#uploadingSet ul li:nth-child(1){width: 25%; float: left;}
#uploadingSet ul li:nth-child(2){width: 25%; float: left;}
#uploadingSet ul li:nth-child(3){width: 25%; float: left;}
#uploadingSet .uploadingForm .newForm{ display: none;}

.uploadingForm ul li, #uploadingSet ul li{ margin-right: 10px; }
.uploadingForm ul li .form-group{ margin: 10px 0; }
.uploadingForm ul li .clear-line .checkbox {margin: 15px 0;}
.uploadingForm ul li .violat-btn{font-size: 30px; padding: 10px 12px;}

.uploadingForm ul li:nth-child(1){width: 25%; float: left;}
.uploadingForm ul li:nth-child(2){width: 25%; float: left;}
.uploadingForm ul li:nth-child(3){width: 25%; float: left;}
.uploadingForm ul li:nth-child(4){width: 12%; float: left;}
.uploadingForm ul li:nth-child(5){width: 6%; float: left;}
#uploadingSet .uploadingForm:last-child .newForm{ display: block;}
#uploadingSet .uploadingForm:last-child .removeForm { display: none;}
#uploadingSet .uploadingForm .btn-add-setting { color: #fff; background-color: #6c63ff; border-color: #6c63ff;}
#uploadingSet .uploadingForm .form-group {position: relative;}
#uploadingSet .uploadingForm .has-success .form-control { border-color: #ddd;}
#uploadingSet .uploadingForm:last-child .has-success .form-control { border-color: #3c763d;}
#uploadingSet .uploadingForm .has-success .form-control-feedback { display: none;}
#uploadingSet .uploadingForm:last-child .has-success .form-control-feedback { display: block;;}

// modal input setting
.modal-body .input-group .input-group-addon { border-top-right-radius: 20px; border-bottom-right-radius: 20px; }
.modal-body  textarea { resize: none; overflow: auto; }

.select-table select.form-control {height: 40px}
.uploadingForm .form-control {border-radius: 5px;}
#uploadingSet .uploadingForm .formButton{ float: right; margin-top: 10px;}

.email_frequency .radio input[type=radio], .modal-body .radio input[type=radio]{ display: block;}
.modal-body .new-page {margin-left: 25px;}

@media(min-width:991px){.right-side{float:right;}
  .sign-wrap .side-block{top:50px;bottom:50px;left:0;right:0;min-height: 300px;max-height: 300px;}
}

@media(max-width:991px){
  #uploadingSet li,#uploadingSet  li {padding: 0px 10px;}
  #uploadingSet ul li:nth-child(1){width: 22%;}
  #uploadingSet ul li:nth-child(2){width: 20%;}
  #uploadingSet ul li:nth-child(3){width: 22%;}
  #uploadingSet ul li:nth-child(4) {width: 20%;}
  #uploadingSet ul li:nth-child(5){width: 16%}
  .uploadingForm ul li, #uploadingSet ul li{margin-right:0;}
.navbar-brand>img {max-width:199px;}
.navbar-default .navbar-nav {margin-top: 25px;}
header.sticky .navbar-default .navbar-nav{margin-top:8px;}
.navbar-default .navbar-nav>li{margin:0;}
.navbar-default .navbar-nav>li>a{padding:10px;}

.do-img{position:inherit;width:100%;padding:0 15px;margin:0 0 30px;}
.do-img img{max-width: 300px;width:100%;}
.do-block {text-align:center;}

.sign-wrap{position:relative;padding:300px 0 50px;}
.sign-wrap .side-block .img {width: calc(100% - 20px);max-height: 280px;}
}
@media(max-width:767px){
.navbar-default .navbar-nav{margin:0 0 10px;}
.navbar-default .navbar-nav>li.btn-view{margin-left:0;}
.navbar-default .navbar-nav>li>a{}
.banner .banner-caption .banner-title{font-size:36px;}
.banner .banner-caption p{font-size:16px;}
.banner .down-scroll{bottom:10px;}
.main-title h1{font-size:30px;line-height:34px;}

.pad-block {padding: 60px 0;}
.main-title h2{font-size:24px;}
.main-title h3{font-size:24px;}

.banner .banner-caption{min-height:inherit;max-width:inherit;text-align:center;margin:0 0 30px;}
.banner .banner-caption h2{font-size:24px;}
.banner .banner-caption h3{font-size:24px;}
.banner .banner-img img {max-width: 300px;width:100%;}

footer{padding:60px 0 30px}
footer .news-letter{padding:20px;}
}
@media(max-width:612px){
  #uploadingSet {float: left;width: 600px;}
  .section-responsive{float: left; width: 100%; overflow: auto;}
}
@media(max-width:600px){
.banner{padding:30px 0;}
footer .news-letter .input-group{display:block;}
footer .news-letter .form-control{margin:0 0 10px;}

.sign-wrap .side-block{left:20px;right:20px;}
.sign-wrap .tab-content{padding:25px 15px;}
.sign-wrap .input-group{display:inline-block;width:100%;}
.sign-wrap .input-group-addon{display: inline-block;width: auto;margin: 0 0 5px;border-radius: 40px;}
.sign-wrap .form-control{display: block;border-radius: 40px !important;}

.setting-wrap .input-group{display:inline-block;width:100%;}
.setting-wrap .input-group-addon{display: inline-block;width: auto;margin: 0 0 5px;border-radius: 40px;}
.setting-wrap .form-control{display: block;border-radius: 40px !important;}
}

@media(max-width:450px){.sign-wrap{padding:250px 0 50px;}.sign-wrap .side-block .img {max-height: 230px;}}


/*15-06-2017--pk*/
.new-drive .lib-act h3 a{display:block;vertical-align: middle;}
.new-drive .lib-act .act-drop{top:5px;}
.new-drive .lib-act h3 button#google-drive-btn {background: #f8a4d8;border: none;border-radius: 20px;margin-left: 5px;display: inline-block;border: solid 1px #f8a4d8;padding: 5px 15px;font-size: 12px;font-weight: 300;}
.new-drive .lib-act h3 button#google-drive-btn:hover{background:#e383be; border-color:#e383be;}
