<!DOCTYPE html>
<html lang="en">
   <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,500,700,900' rel='stylesheet' type='text/css'>
   </head>
   <body style="margin:0; padding:0;">
    <div style="background-color: #eee;margin:0; padding:0; -webkit-font-smoothing: antialiased;font-family: 'Roboto', sans-serif;padding:15px;">
      <div class="wrapper" style="background: none;padding:0;max-width: 600px; margin: 0 auto 20px;overflow:hidden;">
        <table style="width:100%;border-collapse: collapse;">
          <tr>
            <td valign="middle" align="left">
              <a href="#" style="border:none;text-decoration:none;outline:none;">
                <img src="https://cloudtransfr-staging.herokuapp.com/assets/logo.png" alt=""/>
              </a>
            </td>
            <td valign="middle" align="right">
              <a href="https://cloudtransfr-staging.herokuapp.com/" style="font-family: 'Roboto', sans-serif;color:#222;padding:0; margin:0 0 15px;text-decoration:none;text-transform:uppercase;font-size:14px;">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="https://cloudtransfr-staging.herokuapp.com/dashboard/privacy_policy" style="font-family: 'Roboto', sans-serif;color:#222;padding:0; margin:0 0 15px;text-decoration:none;text-transform:uppercase;font-size:14px;">Privacy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
          </tr>
        </table>
      </div>
      <div class="wrapper" style="background-color: #fff;padding:0;max-width: 600px;margin: 20px auto;border-radius:3px;overflow:hidden;">
        <div style="background-color: #6c63ff;padding:40px 30px; margin:0; display: block;">
          <h3 style="color:#fff;font-size:24px;margin:0;padding:0;font-family: 'montserrat';font-weight:700;text-align:center;">Welcome to cloud transfr</h3>
        </div>

        <div style="padding:30px;margin:0; display: block;vertical-align:top; text-align:left;">
          <p style="padding:0; margin:0; color:#000; font-size:14px; font-weight:400; font-family: 'Roboto', sans-serif; line-height:22px;">
            <strong style="color:#000;font-size:16px;">Hello <%= @resource.email %>!</strong></br></br>
            <p>Someone has requested a link to change your password. You can do this through the link below.</p></br>
            <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p></br>
            <p>If you didn't request this, please ignore this email.</p></br>
            <p>Your password won't change until you access the link above and create a new one.</p></br>

            Kindest regards,<br><span style="color:#000;">The Cloud Storage team</span>
          </p>
        </div>
      </div>
      <div class="wrapper" style="background:none;padding:0;max-width: 600px; margin: 0 auto 20px;overflow:hidden;">
        <div style="padding:15px; margin:0; text-align:center;">
          <p style="font-family: 'Roboto', sans-serif;color:#999; font-size:13px; font-weight:400; line-height:16px; padding:0; margin:0 0 15px;">
            <a href="https://cloudtransfr-staging.herokuapp.com/" style="font-family: 'Roboto', sans-serif;color:#6c63ff; font-size:12px; font-weight:400; padding:0; margin:0 0 15px;text-decoration:none;">cloudtransfr.com</a>
          </p>
          <p style="font-family: 'Roboto', sans-serif;color:#888; font-size:12px; font-weight:400; line-height:18px; padding:0; margin:0 0 15px;">
            E. <a href="mailto:hello@cloudtransfr.com" style="font-family: 'Roboto', sans-serif;color:#6c63ff;padding:0; margin:0 0 15px;text-decoration:none;">hello@cloudtransfr.com</a> | W. <a href="https://cloudtransfr-staging.herokuapp.com/" style="font-family: 'Roboto', sans-serif;color:#6c63ff; padding:0; margin:0 0 15px;text-decoration:none;">cloudtransfr.com</a>
          </p>
        </div>
      </div>
   </body>
</html>
