<!-- /.login-logo -->
<div class="login-box-body">
  <p class="login-box-msg">Forgot your password?</p>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group has-feedback">
      <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <%= render "admins/shared/links" %>
      </div>
      <!-- /.col -->
      <div class="col-xs-4">
        <%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-block btn-flat" %>
      </div>
      <!-- /.col -->
    </div>
  <% end %>

</div>
<!-- /.login-box-body -->
