<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <%= image_tag "admin", class: "img-circle", alt: "User Image" %>
        </div>
        <div class="pull-left info">
          <p>CloudTransfr Admin</p>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="<%= (params[:controller] == 'admins/users' && (params[:action] == 'index' || params[:action] == 'show')) ? 'active' : '' %>">
          <%= link_to(root_path) do  %>
            <i class="fa fa-user"></i> <span>Users</span>
          <% end %>
        </li>
        <li class="<%= (params[:controller] == 'admins/pages' || params[:controller] == 'admins/documents') ? 'active' : '' %>">
          <%= link_to(admins_pages_path) do  %>
            <i class="fa fa-folder"></i> <span>Pages</span>
          <% end %>
        </li>
        <li class="<%= (params[:controller] == 'admins/users' && params[:action] == 'decline_request') ? 'active' : '' %>">
          <%= link_to(admins_decline_request_path) do  %>
            <i class="fa fa-check"></i> <span>Declice requests</span>
          <% end %>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
