<footer>
	<div class="container">
		<!--<div class="news-letter">
        	<div class="main-title"><h2>Subscribe to our Newsletter</h2></div>
            <form>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="violat-btn" type="button">Subscribe</button>
              </span>
            </div>
            </form>
        </div>-->
		<div class="foot-cont">
			<div class="foot-logo">
				<a href="#"><%= image_tag("logo.png" )   %></a>
			</div>
		</div>
		<div class="copy">
			<ul>
				<li>Copyright © cloudtransfr 2017</li>
				<li><%= link_to 'Privacy' , privacy_policy_path %></li>
				<li>
					<a href="#">Terms</a>
				</li>
				<li>
					<a href="#">Security</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
