<header class="header">
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <% if user_signed_in? && !current_user.dropbox_detail.present? && !current_user.google_detail.present? && !current_user.onedrive_detail.present? %>
          <%= link_to staticpage_index_path,class:'navbar-brand' do %>
            <%= image_tag("logo.png") %>
          <% end %>
        <% else %>
          <%= link_to root_path,class:'navbar-brand' do %>
            <%= image_tag("logo.png") %>
          <% end %>
        <% end %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <% if user_signed_in? %>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <% if current_user.dropbox_detail.present? || current_user.google_detail.present? || current_user.onedrive_detail.present? %>
            <li><%= link_to "Pages", pages_path, :class => "#{'active' if params[:controller] == 'pages'}" %></li>
            <% end %>
            <li><%= link_to "Authenticate", staticpage_index_path, :class => "#{'active' if params[:controller] == 'staticpage'}" %></li>

            <li class="dropdown user-drop">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Account" , edit_user_registration_path %></li>
                <li><%= link_to "Switch Plan" , switch_plan_path %></li>
                <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      <% else %>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to "Try free for 7 days",new_user_registration_path %>
            </li>
            <li class="btn-view">
              <%= link_to "Sign in",user_session_path %>
            </li>
          </ul>
        </div>
      <!-- /.navbar-collapse -->
      <% end %>
    </div>
    <!-- /.container-fluid -->
  </nav>
</header>
