<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <title>Cloud Transfr | Admin </title>
    <%= favicon_link_tag 'favicon.png' , type: 'image/png' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <%= stylesheet_link_tag    'admins', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admins', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <%= render partial: "layouts/admins_header" %>
      <%= render partial: "layouts/admins_sidebar" %>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!--  flash error or notice alert -->
        <div class="row">
          <div class="col-xs-12">
            <% flash.each do |key, value| %>
              <div class="alert alert-<%= key == 'error' ? 'danger' : 'success' %> alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= value %>
              </div>
            <% end %>
          </div>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
