<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <title>Cloud Transfr | Home</title>
    <%= favicon_link_tag 'favicon.png' , type: 'image/png' %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- use for payments form  -->
    <script src="https://js.stripe.com/v2/"></script>
    <script src="//oss.maxcdn.com/bootbox/4.2.0/bootbox.min.js"></script>
  </head>

  <body>

    <% unless flash.empty? %>
    <script type="text/javascript">
      <% flash.each do |f| %>
      <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
      toastr['<%= type %>']('<%= f[1] %>');
      <% end %>
    </script>
    <% end %>

    <%= render partial: "layouts/header"%>
    <%= yield %>
    <%= render partial: "layouts/footer"%>
  </body>
</html>
